@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";

.button-rest {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	border: none;
	font-family: var(--main-ff);
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	min-width: 20rem;
	padding: 0.8rem 1rem;
	border-radius: 2rem;
	border: 2px solid var(--color-green);
	color: var(--color-green);
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	background-color: var(--color-white);
	text-transform: uppercase;
	transition: color var(--main-transition), background-color var(--main-transition);
	cursor: pointer;

	&__icon {
		display: block;
		margin-left: 0.7rem;
		fill: var(--color-green);
		transition: fill var(--main-transition);

		@include mq(xxs) {
			width: 2rem;
			height: 2rem;
		}
	}

	&:hover {
		background-color: var(--color-green);
		color: var(--color-white);

		.button__icon {
			fill: var(--color-white);
		}
	}

	// mods
	&_green {
		background-color: var(--color-green);
		color: var(--color-white);
		min-width: 0;

		.button__icon {
			fill: var(--color-white);
		}

		&:hover {
			background-color: var(--color-white);
			color: var(--color-green);

			.button__icon {
				fill: var(--color-green);
			}
		}
	}

	&_transparent {
		background-color: transparent;
	}


	@include mq(sm) {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	@include mq(xxs) {
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
}

.button-burger {
	position: relative;
	width: 4rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 0.3rem;
		background-color: var(--color-white);
		transition: all 500ms;
		pointer-events: none;

		&:nth-child(1) {
			top: 40%;
		}

		&:nth-child(2) {
			top: 60%;
		}
	}

	&_is-active {
		span {
			&:nth-child(1) {
				top: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}


.logo {
	display: inline-block;

	&__img {
		width: 22.7rem;
		height: 9.4rem;

		@include mq(sm) {
			width: 11.1rem;
			height: auto;
		}
	}
}

.logo-contacts {
	display: none;
}

.nav {
	&__list {
		display: flex;
	}

	&__item {
		position: relative;
		margin-right: 4rem;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			.nav__sub-menu {
				opacity: 1;
				visibility: visible;
			}

			.nav__link-icon {
				transform: rotate(-45deg);
			}
		}
	}

	&__link {
		position: relative;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: var(--color-white);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}

		.header__nav-link-current {
			display: none;
		}

		&._is-current {
			color: var(--color-green);
		}

		&._about-group._is-current {
			display: flex;
			align-items: center;
			color: var(--color-white);

			.header__nav-link-current {
				display: block;
				width: 1.6rem;
				height: 1.6rem;

				.icon {
					width: 100%;
					height: 100%;
					fill: var(--color-green);
					stroke: var(--color-green);
					margin-left: 0.6rem;
				}
			}
		}
	}

	&__link-icon {
		position: relative;
		top: 0.2rem;
		width: 1.6rem;
		height: 1.6rem;
		fill: var(--color-green);
		stroke: var(--color-green);
		transition: transform var(--main-transition);
	}

	&__sub-menu {
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: 1.8rem;
		opacity: 0;
		visibility: hidden;

		transition: opacity var(--main-transition), visibility var(--main-transition);

		&::before {
			position: absolute;
			top: 2.65rem;
			right: -1rem;
			bottom: -1rem;
			left: -1rem;
			background: rgba($color: #2D2E33, $alpha: 0.7);
			opacity: 0;
			z-index: -1;
			content: "";

			@include mq(custom, max, 1536) {
				top: 2.75rem;
			}

			@include mq(custom, max, 1368) {
				top: 2.65rem;
			}
		}
	}

	&__sub-menu-item {
		margin-bottom: 1.2rem;
		min-width: 23.9rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__sub-menu-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: var(--color-white);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}
	}
}

.hero-arrow-down {
	fill: var(--color-white);
	animation: arrow-down 2s infinite;
	transition: fill 200ms;
	cursor: pointer;

	&:hover {
		fill: var(--color-green);
	}
}

@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: translate(0,-1rem);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translate(0,1rem);
    }
}

.site-middle-text {
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 3rem;
	text-transform: uppercase;

	@include mq(md) {
		font-size: 2rem;
		line-height: 2.6rem;
	}

	@include mq(sm) {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
}

.section-title {
	font-size: 11rem;
	line-height: 1;
	text-transform: uppercase;

	@include mq(custom, max, 1280) {
		font-size: 10rem;
	}

	@include mq(md) {
		font-size: 8rem;
	}

	@include mq(sm) {
		font-size: 4rem;
	}
}

.section-name {
	position: relative;
	display: inline-block;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.7rem;
	padding-left: 2rem;

	&._color-green {
		color: var(--color-green);
	}

	&._color-white {
		color: var(--color-white);
	}

	&::before {
		position: absolute;
		top: 0.3rem;
		left: 0;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background-color: currentColor;
		content: "";
	}
}

.markweber {
	@include mq(sm) {
		margin-top: 2.4rem;
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
	background-color: var(--color-dark);
	transition: opacity var(--main-transition), visibility var(--main-transition);
}

.preloader_is-loaded {
	opacity: 0;
	visibility: hidden;
}

.drop-menu-container {
	position: relative;
	overflow: hidden;
	transition: max-height var(--main-transition);
	max-height: 0;
}


.site-hero-text {
	font-weight: 500;
	font-size: 6rem;
	line-height: 6.6rem;
	text-transform: uppercase;

	@include mq(md) {
		font-size: 5rem;
		line-height: 5.6rem;
	}
}


.breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 5rem;

	&__item {
		margin-right: 1rem;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		color: rgba($color: #fff, $alpha: 0.6);
		transition: color var(--main-transition);

		&:last-child {
			margin-right: 0;
		}
	}

	&__arrow {
		fill: rgba($color: #fff, $alpha: 0.6);
		width: 2rem;
		height: 0.8rem;
		display: block;
		margin-right: 1rem;
	}

	&__item-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		color: rgba($color: #fff, $alpha: 0.6);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-white);
		}
	}

	@include mq(sm) {
		display: none;
	}
}

.slider-nav {
	width: 11.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__button {
		width: 5rem;
		height: 4.5rem;
		cursor: pointer;
		transition: opacity var(--main-transition), transform var(--main-transition);

		&.swiper-button-disabled {
			opacity: 0.5;
			pointer-events: none;
		}

		&:nth-child(2) {
			.slider-nav__button-icon {
				transform: translateY(1px);
			}
		}

		&:hover {
			opacity: 0.6;
		}

		&:active {
			transform: scale(0.9);
		}
	}

	&__button-icon {
		width: 100%;
		height: 100%;
	}
}


.site-long-arrow {
	position: relative;
	width: 100%;
	height: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		width: 99.7%;
		height: 2px;
		transform: translateY(-50%);
		background-color: var(--color-white);
	}

	&__arrow {
		height: 2rem;
		fill: var(--color-white);
	}
}


.page-team {
	.page-wrapper {
		overflow: visible;
	}
}

.cookies {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 90;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 2rem 40px;
	color: var(--color-white);
	background-color: var(--color-dark);
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms, visibility 200ms;

	@include mq(md) {
		flex-direction: column;
		align-items: flex-start;
		justify-content: stretch;
		padding: 2rem 20px;

		.button {
			align-self: flex-end;
		}

		p {
			margin-bottom: 2rem;
			font-size: 1.6rem;
			line-height: 2rem;

			a {
				font-size: 1.6rem;
				line-height: 2rem;
			}
		}
	}

	@include mq(sm) {
		p {
			margin-bottom: 2rem;
			font-size: 1.2rem;
			line-height: 1.4rem;

			a {
				font-size: 1.2rem;
				line-height: 1.4rem;
			}
		}
	}

	@include mq(custom, max, 360) {
		padding: 2rem 16px;
	}

	&.cookies_is-active {
		opacity: 1;
		visibility: visible;
	}

	p {
		color: var(--color-white);
		text-transform: uppercase;
		font-size: 1.4rem;
		line-height: 2rem;
		max-width: 86.5rem;

		a {
			text-transform: uppercase;
			font-size: 1.4rem;
			line-height: 2rem;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	.button {
		color: var(--color-white);
		background-color: transparent;
		border-color: var(--color-white);

		.icon {
			fill: var(--color-white);
		}
	}
}


.no-padding {
	padding-bottom: 0 !important;
}

.magrin-section180 {
	margin-bottom: 18rem;
}
