@import "mixins/media";
@import "mixins/px-to-rem";
@import "fonts";

.button-rest {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
	border: none;
	font-family: var(--main-ff);
}

.button {
	display: inline-flex;
	align-items: center;
	padding: 0.8rem 1rem;
	border-radius: 2rem;
	border: 2px solid var(--color-green);
	color: var(--color-green);
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	background-color: var(--color-white);
	text-transform: uppercase;
	transition: color var(--main-transition), background-color var(--main-transition);
	cursor: pointer;

	&__icon {
		display: block;
		margin-left: 0.7rem;
		fill: var(--color-green);
		transition: fill var(--main-transition);

		@include mq(xxs) {
			width: 2rem;
			height: 2rem;
		}
	}

	&:hover {
		background-color: var(--color-green);
		color: var(--color-white);

		.button__icon {
			fill: var(--color-white);
		}
	}

	// mods
	&_green {
		background-color: var(--color-green);
		color: var(--color-white);

		.button__icon {
			fill: var(--color-white);
		}

		&:hover {
			background-color: var(--color-white);
			color: var(--color-green);

			.button__icon {
				fill: var(--color-green);
			}
		}
	}

	&_transparent {
		background-color: transparent;
	}


	@include mq(sm) {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	@include mq(xxs) {
		font-size: 1.6rem;
		line-height: 1.8rem;
	}
}

.button-burger {
	position: relative;
	width: 4rem;
	height: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	span {
		display: block;
		flex-shrink: 0;
		width: 100%;
		height: 0.3rem;
		background-color: var(--color-white);
		transition: all 500ms;
		pointer-events: none;

		&:nth-child(2) {
			margin: 5px 0;
		}
	}

	&_is-active {

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(1) {
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:nth-child(3) {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}


.logo {
	display: inline-block;

	&__img {
		max-width: 19.1rem;

		@include mq(sm) {
			max-width: 11.1rem;
		}
	}
}

.nav {
	&__list {
		display: flex;
	}

	&__item {
		position: relative;
		margin-right: 4rem;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		position: relative;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: var(--color-white);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}
	}
}

.hero-arrow-down {
	fill: var(--color-white);
}

.site-middle-text {
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 3rem;
	text-transform: uppercase;

	@include mq(md) {
		font-size: 2rem;
		line-height: 2.6rem;
	}

	@include mq(sm) {
		font-size: 1.5rem;
		line-height: 1.8rem;
	}
}

.section-title {
	font-size: 11rem;
	line-height: 1;
	text-transform: uppercase;

	@include mq(custom, max, 1280) {
		font-size: 10rem;
	}

	@include mq(md) {
		font-size: 8rem;
	}

	@include mq(sm) {
		font-size: 4rem;
	}
}

.section-name {
	position: relative;
	display: inline-block;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.7rem;
	padding-left: 2rem;

	&._color-green {
		color: var(--color-green);
	}

	&._color-white {
		color: var(--color-white);
	}

	&::before {
		position: absolute;
		top: 0.3rem;
		left: 0;
		width: 1rem;
		height: 1rem;
		border-radius: 50%;
		background-color: currentColor;
		content: "";
	}
}

.markweber {
	margin-left: auto;
	transition: color var(--main-transition);

	&:hover {
		color: var(--color-green);
	}

	@include mq(xs) {
		margin-left: 0;
		text-decoration: underline;
	}
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 30;
	width: 100%;
	height: 100%;
	background-color: var(--color-dark);
	transition: opacity var(--main-transition), visibility var(--main-transition);
}

.preloader_is-loaded {
	opacity: 0;
	visibility: hidden;
}

.drop-menu-container {
	position: relative;
	overflow: hidden;
	transition: max-height var(--main-transition);
	max-height: 0;
}


.site-hero-text {
	font-weight: 500;
	font-size: 6rem;
	line-height: 6.6rem;
	text-transform: uppercase;
}


.breadcrumbs {
	display: flex;
	align-items: center;
	margin-bottom: 5rem;

	&__item {
		margin-right: 1rem;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		color: rgba($color: #fff, $alpha: 0.6);
		transition: color var(--main-transition);

		&:last-child {
			margin-right: 0;
		}
	}

	&__arrow {
		fill: rgba($color: #fff, $alpha: 0.6);
		width: 2rem;
		height: 0.8rem;
		display: block;
		margin-right: 1rem;
	}

	&__item-link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		color: rgba($color: #fff, $alpha: 0.6);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-white);
		}
	}
}
