section.head-tells
	.head-tells__container.site-content-grid
		.site-content-grid__block.head-tells__left-block
			span.section-name._color-white
				| Обращение руководителя
			.head-tells__content
				.head-tells__content-text
					p
						| С первого дня основания компании мы следуем строгим правилам работы с клиентами и жестким принципам отбора инвестиционных проектов. В первую очередь мы руководствуемся интересами клиентов, смотрим на мир «их глазами», ставим себя на место заказчика. <b>Наши инвестиции – результат скрупулезного анализа рынка и учета всех факторов риска.</b>

				.head-tells__content-grid
					.head-tells__content-grid-block

					.head-tells__content-grid-block.head-tells__authors
						span.head-tells__author
							| ИВАН КУЗНЕЦОВ
						p.head-tells__position
							| Генеральный директор и единственный собственник бизнес-группы АРИОЛ
				.head-tells__content-grid
					.head-tells__content-grid-block
					.head-tells__content-grid-block
						+button(null, "наша команда", "button_transparent")(class="head-tells__link")

		.site-content-grid__block.head-tells__right-block
			img(src="img/about-group/head.jpg", alt="ИВАН КУЗНЕЦОВ" class="head-tells__img")
