section.about-group-hero
	.about-group-hero__layer.lazy.parallax(data-bg="img/about-group/hero-layer.webp" data-bg-fallback="img/about-group/hero-layer.jpg" data-depth="0.10")
	.site-container.about-group-hero__container
		+breadcrumbs([['Главная', "/index.html"], ['О группе']])(class="about-group-hero__breadcrumbs")
		h1.visually-hidden
			|	Заголовок для сео
		.about-group-hero__feautures
			span.about-group-hero__feautures-item.site-hero-text
				| Многолетний профессиональный опыт
			.site-long-arrow.about-group-hero__long-arrow
				+icon("arrow-right-button")(class="site-long-arrow__arrow" width="20" height="20")
			span.about-group-hero__feautures-item.site-hero-text
				| Эффективные решения
		//- .about-group-hero__links.js-magic-line-container
		//- 	span.about-group-hero__nav-line.js-magic-line
		//- 	.about-group-hero__links-item.js-magic-line-item._is-active
		//- 		a.about-group-hero__link(href="/about-group.html")
		//- 			| О нас
		//- 	.about-group-hero__links-item.js-magic-line-item
		//- 		a.about-group-hero__link(href="/team.html")
		//- 			| Команда
		//- 	.about-group-hero__links-item.js-magic-line-item
		//- 		a.about-group-hero__link(href="/career.html")
		//- 			| карьера
		//- 			span.header__news-link-count
		//- 				|	3
