section.about-company-info._pb70(id="NextBlock")
	.site-container.about-company-info__container
		.about-company-info__block
			.about-company-info__heading
				h2.visually-hidden
					|	Заголовок о компании для сео
				.about-company-info__content
					p
						b
							| БИЗНЕС ГРУППА ARIOL,
						| 	 развиваясь и лавируя в условиях меняющейся мировой экономики, предлагает собственникам компаний комплексные решения с учетом наиболее актуальных потребностей.
					p
						| 	При развитии бизнеса и освоении новых направлений неизменно встает вопрос о структурировании и управляемости каждого звена.
						b
							|	Мы&nbsp;предлагаем решения
						|	по организации работы компании как единого слаженного механизма. Мы замыкаем на себе все центры ответственности, контролируя работу каждого из них.

		.about-company-info__block.js-about-company-info-block
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				.about-company-info__text.site-middle-text
					p
						b
							|	Результатом нашей работы является
						|	оптимизация затрат, экономия времени на непрофильную деятельность и, как следствие, повышение рентабельности вашего бизнеса.

section.about-company-info._pt0
	.site-container.about-company-info__container
		.about-company-info__block
			.about-company-info__heading
				.about-company-info__content
					p
						| 	 Нашим партнерам <b>мы предоставляем</b> всю полноту информации относительно функционирования бизнес-процессов, важных финансовых показателей, а также степени эффективности ранее принятых управленческих решений.
					p
						b
							|	Мы учитываем
						|	реалии и тенденции российского и иностранного рынка, пул рисков и условия для создания финансовой безопасности.

		.about-company-info__block.js-about-company-info-block
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				.about-company-info__text.site-middle-text
					p
						b
							|	Наличие собственных успешных проектов
						|	 позволяет нам уверенно заявлять о высокой экспертности в сфере управления бизнес-процессами.
