.contact-us {
	&__title {
		max-width: 74.5rem;
		margin-bottom: 11.7rem;

		@include mq(md) {
			margin-bottom: 6rem;
		}

		@include mq(sm) {
			margin-bottom: 5.5rem;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;

		@include mq(sm) {
			grid-template-columns: repeat(8, 1fr);
		}

		&-block {
			&:nth-of-type(1) {
				grid-column: 8 span;

				@include mq(md) {
					grid-column: 12 span;
					margin-bottom: 5rem;
				}

				@include mq(sm) {
					grid-column: 8 span;
				}
			}

			&:nth-of-type(2) {
				grid-column: 4 span;

				@include mq(md) {
					grid-column: 12 span;
				}

				@include mq(sm) {
					grid-column: 8 span;

					.contact-us__content-item {
						display: grid;
						grid-template-columns: repeat(6, 1fr);
						column-gap: 20px;

						._block {
							&:nth-of-type(1) {
								grid-column: 1 span;
							}

							&:nth-of-type(2) {
								grid-column: 5 span;
							}
						}
					}
				}
			}
		}
	}

	&__legend {
		font-weight: 500;
		display: block;
		margin-bottom: 3.8rem;

		@include mq(sm) {
			margin-bottom: 2rem;
			font-size: 1.5rem;
			line-height: 2rem;
			margin-bottom: 1.5rem;
		}
	}

	&__tel-link {
		display: inline-block;
		font-weight: 500;
		font-size: 4.5rem;
		line-height: 5rem;
		text-transform: uppercase;
		margin-bottom: 2rem;
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}

		@include mq(sm) {
			font-size: 3.3rem;
			line-height: 5rem;
			margin-bottom: 1.5rem;
		}
	}

	&__mail-link {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 3rem;
		text-transform: uppercase;
		color: var(--color-green);
		transition: color var(--main-transition);
		text-decoration: underline;

		&:hover {
			color: var(--color-dark);
		}

		@include mq(sm) {
			font-size: 2.5rem;
			line-height: 3rem;
		}
	}

	&__text {
		font-weight: 500;
		font-size: 2.5rem;
		line-height: 3rem;
		text-transform: uppercase;
		max-width: 39rem;

		@include mq(sm) {
			font-size: 1.5rem;
			line-height: 1.6rem;
		}
	}

	&__content-item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__content-with-arrow {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;

		@include mq(sm) {
			grid-template-columns: repeat(6, 1fr);

		}
	}

	&__content-with-arrow-block {
		grid-column: 4 span;

		@include mq(sm) {
			&:nth-of-type(1) {
				grid-column: 1 span;
			}

			&:nth-of-type(2) {
				grid-column: 5 span;
			}
		}
	}

	&__long-arrow {
		&_wrap {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 20px;
			margin-top: 7.2rem;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 99%;
				height: 2px;
				background-color: var(--color-dark);
				transform: translateY(-50%);
			}

			@include mq(sm) {
				margin-top: 5rem;
			}
		}
	}

	&__map {
		width: 100%;
		height: 61rem;
		background-color: var(--color-dark);
		margin-top: 10rem;

		@include mq(sm) {
			margin-top: 5rem;
			height: 61rem;
		}
	}
}
