.footer {
	padding: 9rem 0 6rem;

	&__top-container {
		margin-bottom: 10rem;
		display: grid;
		grid-template-columns: repeat(12,1fr);
		column-gap: 20px;

		&__block {
			&:nth-child(1) {
				grid-column: 3 span;
			}

			&:nth-child(2) {
				grid-column: 9 span;
			}
		}

		@include mq(sm) {
			grid-template-columns: repeat(8, 1fr);
			margin-bottom: 3.8rem;
			row-gap: 2.4rem;
			column-gap: 0;
		}
	}

	&__nav-container {
		display: grid;
		grid-template-columns: repeat(9, 1fr);
		column-gap: 20px;

		@include mq(sm) {
			grid-column: repeat(8,1fr);
			gap: 20px;
		}
	}

	&__nav-block {
		&:nth-child(1) {
			grid-column: 4 span;
		}

		&:nth-child(2) {
			grid-column: 3 span;
		}

		&:nth-child(3) {
			grid-column: 2 span;
		}

		@include mq(sm) {
			grid-column: 8 span !important;
		}
	}

	&__nav-list {
		max-width: 35rem;
	}

	&__nav-legend {
		display: inline-block;
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 600;
		margin-bottom: 3rem;

		@include mq(sm) {
			margin-bottom: 3rem;
			font-size: 1.2rem;
			line-height: 2rem;
		}
	}

	&__nav-item {
		margin-bottom: 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__nav-link {
		font-size: 1.5rem;
		line-height: 2rem;
		text-transform: uppercase;
		transition: color var(--main-transition);

		&[href]:hover {
			color: var(--color-green);
		}

		@include mq(sm) {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}

	&__bottom-block {
		padding-top: 3rem;
		border-top: 1px solid var(--color-dark);
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;

		@include mq(sm) {
			padding-top: 3.5rem;
			column-gap: 0;
			row-gap: 2.4rem;
		}
	}

	&__copyright {
		display: block;
		max-width: 36.6rem;
		font-weight: 500;

		&:nth-child(1) {
			grid-column: 3 span;
		}

		&:nth-child(2) {
			grid-column: 9 span;
			display: flex;
			justify-content: space-between;
			max-width: 100%;

			@include mq(sm) {
				flex-direction: column;
				align-items: flex-start;
			}
		}

		@include mq(sm) {
			grid-column: 12 span !important;
			margin-right: 0;
			margin-bottom: 2rem;
			font-size: 1.3rem;
			line-height: 2rem;

			&:nth-last-of-type(1) {
				margin-bottom: 3.5rem;
			}
		}
	}

	@include mq(sm) {
		padding-top: 5rem;
		padding-bottom: 3rem;

		.site-content-grid__block {
			grid-column: 8 span;

			&:nth-of-type(1) {
				margin-bottom: 5rem;
			}
		}
	}
}
