.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	padding-top: 3.5rem;

	&__nav-block {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;

		&-item {
			&:nth-child(1) {
				grid-column: 4 span;
			}

			&:nth-child(2) {
				grid-column: 2 span;
			}

			&:nth-child(3) {
				grid-column: 1 span;
			}

			&:nth-child(4) {
				grid-column: 1 span;
				text-align: right;
			}
		}
	}

	&__link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: var(--color-white);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}
	}

	&__news-link {
		position: relative;

		&-count {
			position: absolute;
			top: 0.2rem;
			right: -1rem;
			font-size: 1rem;
			line-height: 1rem;
			color: var(--color-green);
		}
	}
}
