.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 27;
	width: 100%;
	padding-top: 3.5rem;
	padding-bottom: 1rem;

	&.is-active {
		background: rgba($color: #000000, $alpha: 0.7);
		padding-top: 1rem;
		animation: totop 1s;

		.site-content-grid__block:nth-of-type(2) {
			align-self: center;
		}

		.logo__img {
			height: 5.4rem;
		}
	}

	@keyframes totop {
		from {
			transform: translateY(-100%);
		}

		to {
			transform: translateY(0);
		}
	}

	@include mq(sm) {
		padding-top: 1.6rem;
	}

	&__nav-block {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;

		&-item {
			&:nth-child(1) {
				grid-column: 6 span;
			}

			&:nth-child(2) {
				grid-column: 1 span;
			}

			&:nth-child(3) {
				grid-column: 1 span;
				text-align: right;
			}

			@include mq(md) {
				display: none;

				&:last-child {
					display: block;
					grid-column: 8 span;

					.header__link {
						display: none;
					}
				}
			}

			._mobile {
				display: none;

				@include mq(md) {
					display: flex;

					.header__link-eng-page {
						display: inline-block;
					}
				}
			}
		}
	}

	&__button-burger {
		margin-left: 3.7rem;
	}

	&__link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: var(--color-white);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-green);
		}
	}

	&__news-link {
		position: relative;

		&-count {
			position: absolute;
			top: 0.2rem;
			right: -1rem;
			font-size: 1rem;
			line-height: 1rem;
			color: var(--color-green);
		}
	}

	&__link-eng-page {
		display: inline-block;
		margin-left: auto;
		transform: translateY(0.8rem);

		@include mq(xxs) {
			transform: translateY(0.9rem);
		}
	}
}

.header_dark {
	position: static;
	top: auto;
	left: auto;
	z-index: 27;
	width: 100%;
	color: var(--color-dark);
	margin-bottom: 10rem;

	@include mq(sm) {
		margin-bottom: 5.4rem;
	}


	.nav__link,
	.header__link {
		color: var(--color-dark);

		&:hover {
			color: var(--color-green);
		}

		&._is-current {
			color: var(--color-green);
		}
	}

	.header__button-burger {
		span {
			background-color: var(--color-dark);
		}
	}
}
