extends layout/default

block variables
	- const bodyClass = "page-error"
	- const pageTitle = "Страница не найдена"
	- const siteLang = "ru"
	- let jsPageClass = "js-page-error js-intro-block"
	- let name = "error"

block content
	include pages/error-page/main
