extends layout/default

block variables
	- const bodyClass = "page-about-group"
	- const pageTitle = "О группе"
	- const siteLang = "ru"
	- let jsPageClass = "js-about-group-page js-hero-anim"
	- let name = "group"

block content
	include pages/about-group/main
