extends layout/default

block variables
	- const bodyClass = "page-afisha"
	- const pageTitle = "Афиша Казани"
	- const siteLang = "ru"
	- let jsPageClass = "js-projects-detail js-projects-detail-hero-anim"
	- let name = "projects"

block content
	include pages/afisha/main
