extends layout/default

block variables
	- const bodyClass = "page-afisha"
	- const pageTitle = "Афиша Казани"
	- const siteLang = "ru"
	- let jsPageClass = ""
	- let name = "projects"

block content
	include pages/afisha/main
