extends layout/default

block variables
	- const bodyClass = "page-team"
	- const pageTitle = "Карьера"
	- const siteLang = "ru"
	- let jsPageClass = "js-career-page js-hero-anim"
	- let name = "group"

block content
	include pages/career/main
