extends layout/default

block variables
	- const bodyClass = "page-services"
	- const pageTitle = "Детальная услуги"
	- const siteLang = "ru"
	- let jsPageClass = "js-services-detail-page"
	- let name = "services"

block content
	include pages/services-detail/main
