extends layout/default

block variables
	- const bodyClass = "page-services"
	- const pageTitle = "Услуги"
	- const siteLang = "ru"
	- let jsPageClass = "js-services-page js-projects-hero-anim"
	- let name = "services"

block content
	include pages/services/main
