extends layout/default

block variables
	- const bodyClass = "page-team"
	- const pageTitle = "Команда"
	- const siteLang = "ru"
	- let jsPageClass = "js-team-page js-hero-anim"

block content
	include pages/team/main
