extends layout/default

block variables
	- const bodyClass = "page-team"
	- const pageTitle = "Команда"
	- const siteLang = "ru"
	- let jsPageClass = "js-hero-anim"
	- let name = "group"

block content
	include pages/team/main
