- let dept_arr = ["отдел маркетинга", "hr-отдел", "отдел инвестиций"]

main.page-main.main
	section.page-contacts.js-intro-block
		.site-container.page-contacts__container
			+breadcrumbs([['Главная', "/index.html"], ['Контакты']])(class="page-contacts__breadcrumbs")
			h1.page-contacts__title.site-hero-text
				|	КОНТАКТЫ
			.site-content-grid.page-contacts__text
				.site-content-grid__block
					p
						|	По всем интересующим вопросам или предложениям вы можете написать нам на почту
				.site-content-grid__block
			.site-content-grid.page-contacts__arrow
				.site-content-grid__block
					.contact-us__long-arrow_wrap
						+icon("arrow-right-button")(class="contact-us__long-arrow" width="20" height="20")
				.site-content-grid__block
					a.page-contacts__mail(href="mailto:OFFICE@ariol.group")
						|	OFFICE@ariol.group
			.site-content-grid.page-contacts__departments
				.site-content-grid__block
				.site-content-grid__block
					.page-contacts__link-list
						.page-contacts__link-item
							span.page-contacts__label
								|	Контакты
							a(href="tel:+78435610096" class="page-contacts__link")
								|	8 843 561-00-96
						.page-contacts__link-item
							span.page-contacts__label
								|	Офис
							span.page-contacts__text-link
								|	Пр-т Ибрагимова, 32,
								br
								|	 г. Казань

	section.contact-us
		.contact-us__map(id="contact-us-map" data-map-icon="img/marker.svg")
			input(type="hidden" name="coordinates" value="55.83282933992996, 49.090313370146355")
