section.mission.services-page__mission
	.site-container.mission__container
		span.section-name._color-green
			|	Миссия компании
		.mission__conten-text
			._top
				p
					|	Мы решаем проблемы и помогаем достигать поставленные цели – нашим
				ul
					li
						| клиентам, их
					li
						| бизнесу, нашим портфельным
					br
					li
						| компаниям и
					br
					li
						| бизнес-партнерам.
			._bottom
				p
					|	С первого дня основания компании мы следуем строгим правилам работы с клиентами и жестким принципам отбора инвестиционных проектов.


