- let services_arr = ["Внутренний аудит", "Экономический анализ", "Ведение финансового и бухгалтерского учёта", "Ведение документооборота", "Оптимизация налоговых и финансовых потоков", "Бизнес-моделирование", "Автоматизация бизнес процессов и администрирование"]

section.services.services-page__services.lazy.magrin-section180(data-bg="img/index/services-bg2.webp" data-bg-fallback="img/index/services-bg2.png")
	.site-container
		.services__container
			.services__heading-warpper
				h2.services__title.section-title
					|	Услуги
				+button(null, "Перейти в Услуги")(class="services__button")
		ul.services__list
			li.services__item.no-hover
				span._top-line
				span._bototm-line
				a(class="services__item-link")
					span
						|	Внутренний аудит
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
			li.services__item.no-hover
				a(class="services__item-link")
					span
						|	Экономический анализ
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
			li.services__item.no-hover
				a(class="services__item-link")
					span
						|	Ведение финансового и бухгалтерского учёта
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
			li.services__item.no-hover
				a(class="services__item-link")
					span
						|	Ведение документооборота
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
			li.services__item.no-hover
				a(class="services__item-link")
					span
						|	Оптимизация налоговых и финансовых потоков
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
			li.services__item.no-hover
				a(class="services__item-link")
					span
						|	Бизнес-моделирование
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
			li.services__item.no-hover
				a(class="services__item-link")
					span
						|	Автоматизация бизнес процессов и администрирование
					+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
