section.about-company-info
	.site-container.about-company-info__container
		.about-company-info__block
			.about-company-info__heading
				h2.visually-hidden
					|	Заголовок о компании для сео
				p.about-company-info__heading-text
					|	Мы — управляющая компания, действующая в разнопрофильных  бизнесах:
				ul.about-company-info__list
					li.about-company-info__list-item
						|	крупное производство строительных материалов,
					li.about-company-info__list-item
						|	 наружная&nbsp;реклама,
					li.about-company-info__list-item
						|	интернет&nbsp;издание.
		.about-company-info__block
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				p.about-company-info__text.site-middle-text
					|	Бизнес Группа «АРИОЛ» и все обслуживаемые бизнес направления имеют одного собственника, а значит общие бизнес интересы.
				a.button-reset.button.about-company-info__button(href="/")
					span
						|	о компании
					+icon("arrow-right-button")(class="button__icon" width="20" height="20")
