section.ceo
	.ceo__layer.lazy.parallax(data-bg="img/index/ceo.webp" data-bg-fallback="img/index/ceo.jpg" data-depth='0.10')
	.site-container.ceo__container
		.ceo__item
			span.ceo__item-heading
				|	Айрат Галиуллин
			span.ceo__item-position
				|	СЕО
		.ceo__item
			span.ceo__item-heading
				|	Айрат Галиуллин
			span.ceo__item-position
				|	СЕО
		.ceo__item
			span.ceo__item-heading
				|	Айрат Галиуллин
			span.ceo__item-position
				|	СЕО
