section.ceo
	.ceo__layer.lazy(data-bg="img/index/ceo.webp" data-bg-fallback="img/index/ceo.jpg")
		.site-container.ceo__container
			.ceo__item
				span.ceo__item-heading
					|	Айрат Галиуллин
				span.ceo__item-position
					|	СЕО
			.ceo__item
				span.ceo__item-heading
					|	Айрат Галиуллин
				span.ceo__item-position
					|	СЕО
			.ceo__item
				span.ceo__item-heading
					|	Айрат Галиуллин
				span.ceo__item-position
					|	СЕО
