section.ceo
	.ceo__layer.lazy.parallax(data-bg="img/ceo2.jpg" data-bg-fallback="img/ceo2.jpg" data-depth='0.10')
	.site-container.ceo__container
		.ceo__item
			span.ceo__item-heading
				|	сергей белов
			span.ceo__item-position
				|	заместитель
				br
				|	генерального директора
		.ceo__item
			span.ceo__item-heading
				|	Димитрий Савинов
			span.ceo__item-position
				|	Финансовый Директор
		.ceo__item
			span.ceo__item-heading
				|	Игорь Борисов
			span.ceo__item-position
				|	HR-директор
		.ceo__item
			span.ceo__item-heading
				|	Любовь зубарева
			span.ceo__item-position
				|	Руководитель
				br
				|	юридической службы
		.ceo__item
			span.ceo__item-heading
				|	Иван кузнецов
			span.ceo__item-position
				|	Генеральный директор
