section.company-numbers
	.site-container.company-numbers__container
		ul.company-numbers__list
			li.company-numbers__item
				span.company-numbers__item-number
					span
						|	500
						span._plus +
					|	млн ₽

				p.company-numbers__item-text.site-middle-text
					|	в год зарабатывали партнеры под нашим управлением
			li.company-numbers__item.js-company-numbers1
				span.company-numbers__item-number
					span
						|	15
						span._plus +
					|	лет

				p.company-numbers__item-text.site-middle-text
					|	занимаемся
					br
					|	только нашей профессией
			li.company-numbers__item.js-company-numbers2
				span.company-numbers__item-number
					span
						|	20
						span._plus +

				p.company-numbers__item-text.site-middle-text
					|	бизнес-направлений. От агробизеса до типографии
