section.hero.js-intro-block.gradient-bg
	.hero__layer._is-video.lazy(data-bg="img/index/hero-bg.webp" data-bg-fallback="img/index/hero-bg.jpg")
	video(class="hero__video-layer" src="resourses/ario.mp4" playsinline muted autoplay loop)
	.site-container.hero__container
		h1.visually-hidden
			|	Организация бизнеса, Запуск проектов, Сопровождение

		.hero__container-img.js-hero-img
			include ../../../img/hero-layer.svg

		//- img(src="img/hero-layer.svg", alt="" class="")

		//- .hero__feautures
		//- 	span.hero__feautures-item
		//- 		|	Организация бизнеса
		//- 	.hero__feautures-arrow
		//- 			+icon("arrow-right-button")(class="hero__feautures-arrow-long" width="20" height="20")
		//- 	span.hero__feautures-item
		//- 		|	Запуск проектов
		//- .hero__text
		//- 	span.hero__text-span
		//- 		|	Сопровождение
		//- 		span.hero__long-arrow_wrap
		//- 			+icon("arrow-right-button")(class="hero__long-arrow" width="20" height="20")

		.site-content-grid.hero__info
			.site-content-grid__block.js-header-block
				a(href="#nextBlock")
					+icon("hero-arrow-down")(class="hero-arrow-down" width="16" height="32")

			//- .site-content-grid__block
			//- 	span.hero__company-birth
			//- 		|	Бизнес Группа «АРИОЛ» основана в 2020 году
