- let services_arr = ["Внутренний аудит", "Экономический анализ", "Ведение финансового и бухгалтерского учёта", "Ведение документооборота", "Оптимизация налоговых и финансовых потоков", "Бизнес-моделирование", "Автоматизация бизнес процессов и администрирование"]

section.services.lazy(data-bg="img/index/services-bg.webp" data-bg-fallback="img/index/services-bg.jpg")
	.site-container
		.services__container.site-content-grid
			.site-content-grid__block
				h2.services__title
					|	Услуги
			.site-content-grid__block.services__text-info
				p.services__text
					|	Мы нацелены на построение надежных и взаимовыгодных отношений
				+button(null, "Перейти в Услуги")(class="services__button")
		ul.services__list
			for item in services_arr
				li.services__item
					a(href="/" class="services__item-link")
						span=item
						+icon("arrow-right-button")(class="services__item-icon" width="40" height="40")
