section.why-us
	.site-container.why-us__container
		.why-us__top-block
			h2.visually-hidden
				|	Текст заголовок сео
			.why-us__top-block_left
				span.section-name.why-us__section-name
					|	Почему нас выбирают
				p.why-us__p-text._block
					|	Мы — специалисты из сфер
				ul.why-us__list
					li.why-us__item
						|	финансов,
					li.why-us__item
						|	бухгалтерии,
					li.why-us__item
						|	экономики,
					li.why-us__item
						|	юриспруденции,
					li.why-us__item
						|	IT,
					li.why-us__item
						|	кадров с необходимым опытом и навыками.
				p.why-us__p-text
					|	И главное — у нас есть искреннее желание эффективно использовать накопленный потенциал
			.why-us__top-block_right
		.why-us__bottom-block
			.why-us__bottom-block_left
			.why-us__bottom-block_right
				p.why-us__bottom-block-text.site-middle-text
					|	<span>С нами удобно</span> при смене старой команды, при разделе бизнеса, при проведении комплексного аудита деятельности компании, помогаем запускать новые проекты
				p.why-us__bottom-block-text.site-middle-text
					|	<span>Работаем более 10 лет</span> вместе, в случае предметной заинтересованности предоставим резюме своих специалистов
