section.why-us
	.site-container.why-us__container
		.why-us__top-block
			h2.visually-hidden
				|	Текст заголовок сео
			.why-us__top-block_left
				span.section-name.why-us__section-name
					|	Почему нас выбирают
				p.why-us__p-text
					|	Мы являемся сторонниками долговременного и доверительного сотрудничества, гарантируя внедрение наиболее эффективных методов работы, обеспечивая прозрачность финансовых потоков
			.why-us__top-block_right
		.about-company-info__block.js-about-company-info-block2
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				p.about-company-info__text.site-middle-text
					|	Мы создаем условия для оптимальной и успешной реализации финансовых возможностей, взяв на себя все трудовые и энергетические затраты
				a.button-reset.button.about-company-info__button(href="/about-group.html")
					span
						|	КОМАНДА
					+icon("arrow-right-button")(class="button__icon" width="20" height="20")
