section.contact-us
	.site-container.contact-us__container
		h2.contact-us__title.section-title
			|	Свяжитесь с нами
		.contact-us__content
			.contact-us__content-block
				.contact-us__content-with-arrow
					.contact-us__content-with-arrow-block
						.contact-us__long-arrow_wrap
							+icon("arrow-right-button")(class="contact-us__long-arrow" width="20" height="20")
					.contact-us__content-item.contact-us__content-with-arrow-block
						span.contact-us__legend
							|	Контакты
						a.contact-us__tel-link(href="tel:+78435610096")
							|	8 843 561-00-96
						a.contact-us__mail-link(href="mailto:")
							|	 info@ariol.ru
			.contact-us__content-block
				.contact-us__content-item
					._block
					._block
						span.contact-us__legend
							|	Офис
						p.contact-us__text
							|	Пр-т Ямашева, 49Б, офис 2/4, Казань
	.contact-us__map(id="contact-us-map" data-map-icon="img/marker.svg")
