- let nav_arr = [{name: "О группе", link: "/about-group.html"}]

header.header(class=jsPageClass)(class=(name === "contacts" ? "header_dark" : false))
	.site-container.site-content-grid.header__container.js-animated-el
		.site-content-grid__block
			a.logo(href="/index.html")
				- if (name === "contacts")
					img(class="logo__img" src="img/logo-black.svg" alt="Логотип компании")
				- else
					img(class="logo__img" src="img/logo-white.svg" alt="Логотип компании")
		.site-content-grid__block.header__nav-block
			nav.nav.header__nav-block-item
				ul.nav__list.header__nav-list
					li.nav__item
						a.nav__link._about-group(href="/" class=(name === "group" ? "_is-current" : false))
							|	О группе
							+icon("plus2")(class="nav__link-icon" width="16" height="16")
						ul.nav__sub-menu
							li.nav__sub-menu-item
								a.nav__sub-menu-link(href="/")
									|	 О НАС
							li.nav__sub-menu-item
								a.nav__sub-menu-link(href="/")
									|	 КАРЬЕРА
					li.nav__item
						a.nav__link(href="/" class=(name === "services" ? "_is-current" : false))
							|	Услуги
					li.nav__item
						a.nav__link(href="/" class=(name === "projects" ? "_is-current" : false))
							|	Проекты
							+icon("plus2")(class="nav__link-icon" width="16" height="16")
						ul.nav__sub-menu
							li.nav__sub-menu-item
								a.nav__sub-menu-link(href="/")
									|	Сетка плюс
							li.nav__sub-menu-item
								a.nav__sub-menu-link(href="/")
									|	 Квинтэс групп
							li.nav__sub-menu-item
								a.nav__sub-menu-link(href="/")
									|	Media advertising group
							li.nav__sub-menu-item
								a.nav__sub-menu-link(href="/")
									|	Афиша казани
					li.nav__item
						a.nav__link(href="/")
							|	Команда
			.header__nav-block-item
				a.header__contacts-link.header__link(href="/" class=(name === "contacts" ? "_is-current" : false))
					|	Контакты
			.header__nav-block-item
				a.header__lang-page.header__link(href="/")
					|	en
				._mobile
					a.header__lang-page.header__link.header__link-eng-page(href="/")
						|	en
					button.button-rest.button-burger.header__button-burger
						span
						span

include mobile-menu

