- let nav_arr = [{name: "О группе", link: "/about-group.html"}]

header.header(class=jsPageClass)(class=(name === "contacts" ? "header_dark" : false))
	.site-container.site-content-grid.header__container.js-animated-el
		.site-content-grid__block
			a.logo(href="/index.html")
				- if (name === "contacts")
					img(class="logo__img" src="img/logo-black.svg" alt="Логотип компании")
				- else
					img(class="logo__img" src="img/logo-white.svg" alt="Логотип компании")
		.site-content-grid__block.header__nav-block
			nav.nav.header__nav-block-item
				ul.nav__list.header__nav-list
					li.nav__item
						a.nav__link._about-group(href="/")(class=(name === "group" ? "_is-current" : false))
							|	О группе
							span.header__nav-link-current
								+icon("icon-plus")(class="_plus" width="16" height="16")
					li.nav__item
						a.nav__link(href="/")(class=(name === "services" ? "_is-current" : false))
							|	Услуги
					li.nav__item
						a.nav__link(href="/")(class=(name === "projects" ? "_is-current" : false))
							|	Проекты
							span.header__news-link-count
								|	3
			.header__nav-block-item
				a.header__news-link.header__link(href="/")(class=(name === "news" ? "_is-current" : false))
					|	Новости
					span.header__news-link-count
						|	3
			.header__nav-block-item
				a.header__contacts-link.header__link(href="/")(class=(name === "contacts" ? "_is-current" : false))
					|	Контакты
			.header__nav-block-item
				a.header__lang-page.header__link(href="/")
					|	en
			.header__nav-block-item._mobile
				a.header__lang-page.header__link.header__link-eng-page(href="/")
					|	en
				button.button-rest.button-burger.header__button-burger
					span
					span

include mobile-menu

