section.about-company-info.about-services.about-services__detail-top-block
	.site-container
		.section-name._color-green
			|	Чем мы полезны?
		.about-company-info__container
			.about-company-info__block
				.about-company-info__heading
					h2.visually-hidden
						|	Заголовок о компании для сео
					p.about-company-info__heading-text.about-services__heading-text
						|	Выявим и опишем существующие бизнес-процессы,  проведем анализ, спроектируем новые бизнес-процессы.

