section.about-company-info.about-services.about-services__detail-second-block
	.site-container
		.section-name._color-green
			|	Какие результаты ожидаются?
		.about-company-info__container
			.about-company-info__block
				.about-company-info__heading
					h2.visually-hidden
						|	Заголовок о компании для сео
					p.about-company-info__heading-text.about-services__heading-text
						|	Результатом бизнес-моделирования является единая информационная система управления всем предприятием. Кроме того, бизнес-моделирование призвано обеспечить сокращение затрат на&nbsp;производство, повышение качества продукции и&nbsp;уровня сервиса.
			.about-company-info__block.js-about-company-info-block
				.about-company-info__info-text_left
					.about-company-info__long-arrow_wrap
						+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
				.about-company-info__info-text_right
					p.about-company-info__text.site-middle-text
						|	При этом мы&nbsp;можем не&nbsp;только разработать бизнес-модель, но и&nbsp;обеспечить ее тестирование и&nbsp;реализацию &laquo;под ключ&raquo;
					a.button-reset.button.about-company-info__button(href="/about-group.html")
						span
							|	связаться
						+icon("arrow-right-button")(class="button__icon" width="20" height="20")
