section.about-company-info
	.site-container.about-company-info__container
		.about-company-info__block
			.about-company-info__heading
				h2.visually-hidden
					|	Заголовок о компании для сео
				.about-company-info__content
					p
						b
							| Бизнес-модель
						| 	необходима для построения взаимосвязей всех ваших ресурсов, создания корпоративной стратегии и цепочки ценностей.
					p
						b
							| Грамотное бизнес-моделирование
						| 	позволяет оптимизировать работу компании через определение и закрепление последовательностей деловых операций.

		.about-company-info__block.js-about-company-info-block
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				p.about-company-info__text.site-middle-text
					|	Построение эффективной бизнес-модели для реализации вашей идеи