section.group-projects-hero.projects-detail-hero.services-detail-hero
	.group-projects-hero__layer.projects-detail-hero__layer.lazy.parallax(data-bg="img/services-detail/img-hero.webp" data-bg-fallback="img/services-detail/img-hero1.png" data-depth="0.10")
	.site-container.group-projects-hero__container
		+breadcrumbs([['Главная', "/index.html"], ['Услуги', "projects.html"], ["Бизнес-моделирование"]])(class="projects-detail-hero__breadcrumbs")
		h1.projects-detail-hero__title
			|	бизнес-
			br
			|	моделирование
		.site-content-grid.group-projects-hero__arrow.projects-detail-hero__bottom-block
			.site-content-grid__block
				+icon("hero-arrow-down")(class="hero-arrow-down" width="16" height="32")


