.about-company-info {
	padding-top: 5rem;
	padding-bottom: 23rem;

	&__block {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;

		&:nth-of-type(1) {
			margin-bottom: 9.5rem;

			@include mq(sm) {
				margin-bottom: 4rem;
			}
		}
	}

	&__heading {
		grid-column: 8 span;

		@include mq(md) {
			grid-column: 12 span;
		}
	}

	&__heading-text {
		display: inline;
		font-weight: 500;
		font-size: 4.5rem;
		line-height: 5.5rem;
		text-transform: uppercase;

		@include mq(md) {
			font-size: 4rem;
    		line-height: 5rem;
		}

		@include mq(sm) {
			font-size: 2rem;
    		line-height: 2.6rem;
		}
	}

	&__list {
		display: inline;
		counter-reset: section;

		&-item {
			position: relative;
			display: inline;
			font-weight: 500;
			font-size: 4.5rem;
			line-height: 5.5rem;
			text-transform: uppercase;
			padding-left: 3.5rem;

			&::before {
				counter-increment: section;
				content: "0" counter(section);
				position: absolute;
				top: 0.5rem;
				left: 0;
				display: inline-block;
				padding: 0 0.3rem;
				border: 1px solid var(--color-dark);
				font-weight: 700;
				font-size: 1.7rem;
				line-height: 1.7rem;
				border-radius: 2rem;
				letter-spacing: 0.06em;
				width: 3.2rem;
				text-align: center;

				@include mq(sm) {
					font-size: 1.2rem;
					line-height: 1.5rem;
					padding: 0 0.2rem;
					width: 2.5rem;
				}
			}

			&:nth-last-child(2) {
				display: block;
			}

			&:last-child {
				display: block;
			}

			@include mq(md) {
				font-size: 4rem;
				line-height: 5rem;
			}

			@include mq(sm) {
				font-size: 2rem;
				line-height: 2.6rem;
				padding-left: 3rem;
			}
		}
	}

	&__text {
		margin-bottom: 4rem;

		@include mq(sm) {
			margin-bottom: 2rem;
		}
	}

	&__info-text {
		&_left {
			grid-column: 8 span;

			@include mq(md) {
				grid-column: 4 span;
			}

			@include mq(sm) {
				display: none;
			}
		}

		&_right {
			grid-column: 4 span;

			@include mq(md) {
				grid-column: 8 span;
			}

			@include mq(sm) {
				grid-column: 12 span;
			}
		}
	}

	&__long-arrow {

		&_wrap {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 0;
				width: 99%;
				height: 2px;
				background-color: var(--color-dark);
				transform: translateY(-50%);
			}
		}
	}

	@include mq(custom, max, 1280) {
		padding-bottom: 16rem;
	}

	@include mq(sm) {
		padding-top: 5rem;
		padding-bottom: 10.4rem;
	}
}
