.ceo {
	position: relative;
	height: 76rem;
	width: 100%;
	color: var(--color-white);
	overflow: hidden;
	filter: grayscale(100%);
	transition: filter var(--main-transition);

	&:hover {
		filter: none;
	}

	&__layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 84rem;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		@include mq(md) {
			position: static;
			top: auto;
			left: auto;
			height: auto;

			img {
				height: auto;
			}
		}
	}

	&__container {
		position: relative;
		height: 100%;
	}

	&__item {
		position: absolute;
		z-index: 2;

		@include mq(custom, max, 320) {
			display: none;
		}

		&-heading {
			display: block;
			margin-bottom: 0.1rem;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.5rem;
			text-transform: uppercase;

			@include mq(sm) {
				font-size: 1rem;
				line-height: 1rem;
			}
		}

		&-position {
			font-weight: 500;
			font-size: 1.2rem;
			line-height: 1.8rem;
			text-transform: uppercase;

			@include mq(sm) {
				display: block;
				font-size: 0.8rem;
				line-height: 1.1rem;
				max-width: 14rem;

				br {
					display: none;
				}
			}
		}

		&:nth-child(1) {
			top: 20%;
			left: 18%;

			@include mq(md) {
				left: 2%;
			}

			@include mq(sm) {
				top: 4%;
			}
		}

		&:nth-child(2) {
			top: 10.3%;
			right: 17.3%;

			@include mq(md) {
				top: 14.3%;
				right: 2.3%;
			}
		}

		&:nth-child(3) {
			top: 57.4%;
			left: 5.3%;

			@include mq(md) {
				top: 84.4%;
				left: 3.3%;
			}
		}

		&:nth-child(4) {
			bottom: 19%;
			left: 48%;

			@include mq(md) {
				bottom: 10%;
				left: 42%;
			}

			@include mq(sm) {
				left: 31%;
			}
		}

		&:nth-child(5) {
			top: 43%;
			right: 7%;

			@include mq(md) {
				top: 75%;
				right: 5%;
			}

			@include mq(sm) {
				top: 80%;
				right: 1%;
			}
		}
	}

	@include mq(md) {
		height: auto;
	}
}
