.company-numbers {
	padding: 8.8rem 0 12.5rem 0;

	&.mod-with-section-name {
		.section-name {
			margin-bottom: 5rem;

			@include mq(sm) {
				margin-bottom: 2rem;
			}
		}
	}

	&__list {
		width: 100%;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 3.5rem;
		margin-bottom: 5.6rem;
		border-bottom: 2px solid var(--color-dark);

		&:last-child {
			margin-bottom: 0;
		}

		&-number {
			font-size: 11rem;
			line-height: 13.4rem;
			text-transform: uppercase;

			& > span {
				position: relative;
				display: inline-block;
				padding-right: 2rem;

				@include mq(sm) {
					padding-right: 1rem;
				}
			}

			._plus {
				position: absolute;
				top: 1rem;
				right: -2rem;
				font-weight: 500;
				font-size: 5rem;
				line-height: 1;

				@include mq(md) {
					top: 0.4rem;
					right: 0;
					font-size: 3rem;
				}

				@include mq(sm) {
					right: -0.5rem;
					font-size: 1.8rem;
				}
			}

			@include mq(md) {
				font-size: 7rem;
				line-height: 7.8rem;
			}

			@include mq(sm) {
				font-size: 4rem;
				line-height: 4.3rem;
				margin-bottom: 2.4rem;
			}

			@include mq(custom, max, 360) {
				font-size: 3rem;
				line-height: 3.3rem;
			}
		}

		&-text {
			text-align: right;
			max-width: 35.5rem;

			@include mq(sm) {
				align-self: flex-end;
				br {
					display: none;
				}
			}
		}

		&:nth-child(2) {
			// max-width: 66.3%;
			margin-left: auto;

			@include mq(sm) {
				max-width: 100%;
			}
		}

		&:nth-child(3) {
			// max-width: 32.6%;
			margin-left: auto;

			@include mq(sm) {
				max-width: 100%;
			}
		}

		@include mq(sm) {
			flex-direction: column;
			align-items: stretch;
			justify-content: stretch;
			margin-bottom: 3.6rem;
		}
	}

	@include mq(sm) {
		padding-top: 4rem;
		padding-bottom: 7rem;
	}
}
