.directions {
	position: relative;
	z-index: 2;
	padding: 6.7rem 0 7.7rem 0;
	color: var(--color-white);
	background-color: var(--color-dark);

	&_layer {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0;
		transition: opacity var(--main-transition);

		&.mod-show {
			opacity: 1;
		}
	}

	&__list {
		width: 100%;
	}

	&__item {
		position: relative;
		overflow: hidden;
		width: 100%;
		// border-bottom: 1px solid var(--color-white);

		._bottom-line {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--color-white);
		}

		._top-line {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: var(--color-white);
			opacity: 0;
		}

		&:first-child {
			._top-line {
				opacity: 1;
			}
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 5.8rem 0;
			cursor: pointer;
			font-weight: 500;

			&.mod-open {
				.directions__item-icon {
					transform: rotate(-45deg) scale(2) translate(-10px, -10px);

					@include mq(sm) {
						transform: rotate(-45deg) scale(1.4);
					}
				}
			}

			&:hover {
				.directions__item-heading {
					color: var(--color-green);
				}
			}

			@include mq(md) {
				padding: 4.8rem 0;
			}

			@include mq(sm) {
				padding: 4rem 0;
			}

			@include mq(xxs) {
				padding: 3rem 0;
			}
		}

		&-heading {
			display: block;
			font-weight: 500;
			font-size: 4.5rem;
			line-height: 1;
			text-transform: uppercase;
			color: var(--color-white);
			transition: color var(--main-transition);

			@include mq(sm) {
				font-size: 3.5rem;
			}

			@include mq(xxs) {
				font-size: 2.5rem;
			}
		}

		&-icon {
			position: relative;
			display: block;
			width: 1.6rem;
			height: 1.6rem;
			transition: transform var(--main-transition);

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 2px;
				background-color: var(--color-white);
				transform: translate(-50%, -50%);
				transition: background-color var(--main-transition);

				&:first-child {
					transform: translate(-50%, -50%) rotate(90deg);
				}
			}
		}

		&-body {
			max-width: 95rem;
			padding-bottom: 5.8rem;

			&-item {
				position: relative;
				font-size: 2.5rem;
				line-height: 3rem;
				margin-bottom: 2rem;
				padding-left: 1.6rem;

				&::before {
					position: absolute;
					top: 1.1rem;
					left: 0;
					width: 0.6rem;
					height: 0.6rem;
					background-color: var(--color-green);
					border-radius: 50%;
					content: "";
				}

				&:last-child {
					margin-bottom: 0;
				}

				@include mq(sm) {
					font-size: 1.6rem;
					line-height: 2rem;
				}
			}

			@include mq(md) {
				max-width: 100%;
			}
		}

		@include mq(sm) {
			overflow: visible;
		}
	}

	.site-content-grid__block {
		&:nth-of-type(1) {
			@include mq(md) {
				grid-column: 12 span;
				margin-bottom: 4rem;
			}
		}

		&:nth-of-type(2) {
			@include mq(md) {
				grid-column: 12 span;
			}
		}
	}

	@include mq(sm) {
		padding-top: 4rem;
		padding-bottom: 7rem;
	}
}
