.hero {
	position: relative;
	z-index: 2;
	height: 100vh;
	color: var(--color-white);
	overflow: hidden;

	&__layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__container {
		height: 100%;
		padding-top: 25rem;
		padding-bottom: 3.5rem;
		display: flex;
		flex-direction: column;

		@include mq(custom, max, 1280) {
			padding-top: 20rem;
		}

		@include mq(lg) {
			padding-top: 25rem;
		}

		@include mq(md) {
			padding-top: 30rem;
			padding-bottom: 3.5rem;
		}

		@include mq(sm) {
			padding-top: 18rem;
			padding-bottom: 2rem;
		}

		@include mq(custom, max, 360) {
			padding-top: 15rem;
			padding-bottom: 2rem;
		}
	}

	&__info {
		margin-top: auto;

		@include mq(sm) {
			.hero-arrow-down {
				display: none;
			}

			.site-content-grid__block {
				grid-column: 12 span !important;
			}
		}
	}

	&__company-birth {
		display: block;
		max-width: 21.2rem;
		font-size: 1.6rem;
		line-height: 2rem;
	}

	&__feautures {
		position: relative;
		display: flex;
		justify-content: space-between;
		margin-bottom: 8.8rem;

		@include mq(sm) {
			flex-direction: column;
			justify-content: stretch;
			margin-bottom: 4rem;
		}
	}

	&__feautures-arrow {
		position: absolute;
		top: 46.2%;
		left: 44rem;
		max-width: 53%;
		width: 100%;
		height: 2rem;
		display: flex;
		align-items: flex-end;

		@include mq(custom, max, 1680) {
			max-width: 49%;
		}

		@include mq(custom, max, 1536) {
			max-width: 53%;
		}

		@include mq(custom, max, 1440) {
			max-width: 52%;
		}

		@include mq(custom, max, 1280) {
			top: 44.5%;
		}

		@include mq(lg) {
			display: none;
		}




		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 99%;
			height: 2px;
			background-color: var(--color-white);
			transform: translateY(-50%);
			content: "";
		}

		&-long {
			width: 2rem;
			height: 2rem;
			margin-left: auto;
			fill: var(--color-white);
		}
	}

	&__feautures-item {
		display: inline-block;
		font-weight: 500;
		font-size: 8rem;
		line-height: 8.8rem;
		text-transform: uppercase;

		&:nth-of-type(2) {
			text-align: right;
			margin-top: 8.7rem;
		}

		@include mq(custom, max, 1280) {
			font-size: 7rem;
			line-height: 7.7rem;
			max-width: 57rem;
		}

		@include mq(lg) {
			font-size: 6rem;
			line-height: 6.6rem;
			max-width: 57rem;
		}

		@include mq(sm) {
			font-size: 4rem;
			line-height: 4.6rem;

			&:nth-of-type(2) {
				text-align: left;
				margin-top: 4rem;
			}
		}

		@include mq(xxs) {
			font-size: 3rem;
			line-height: 3.6rem;
		}
	}

	&__text {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-span {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 8rem;
			line-height: 8.8rem;
			text-transform: uppercase;

			@include mq(custom, max, 1280) {
				font-size: 7rem;
				line-height: 7.7rem;
			}

			@include mq(lg) {
				font-size: 6rem;
				line-height: 6.6rem;
			}

			@include mq(sm) {
				font-size: 4rem;
				line-height: 4.6rem;
			}

			@include mq(xxs) {
				font-size: 3rem;
				line-height: 3.6rem;
			}
		}

		@include mq(sm) {
			justify-content: stretch;
		}
	}

	&__long-arrow {
		transform: scale(-1, 1);
		fill: var(--color-white);

		&_wrap {
			position: relative;
			display: flex;
			align-items: center;
			height: 20px;
			width: 20.5rem;
			margin-left: 3rem;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				width: 98%;
				height: 2px;
				background-color: var(--color-white);
				transform: translateY(-50%);
			}

			@include mq(sm) {
				display: none;
			}
		}
	}

	@include mq(sm) {
		height: 67rem;
	}

	@include mq(custom, max, 360) {
		height: 61rem;
	}
}
