.hero {
	position: relative;
	z-index: 2;
	height: 100vh;
	color: var(--color-white);
	overflow: hidden;
	background-color: var(--color-dark);

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 45;
		width: 100%;
		height: 100%;
		background: linear-gradient(#2D2E33 -69%, transparent);
		content: "";
	}

	&__layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		&._is-video {
			display: none;
		}

		@include mq(sm) {
			background-position: 90% 100%;
		}
	}

	&__video-layer {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		min-width: 100%;
		height: 100%;
		transform: translate(-50%,-50%);
		object-fit: cover;
		// filter: grayscale(100%);

		@include mq(custom,min, 1919) {
			min-height: 100%;
			height: auto;
		}

		&._is-img {
			display: none;
		}
	}

	&__container {
		position: relative;
		height: 100%;
		padding-top: 25rem;
		padding-bottom: 3.5rem;
		display: flex;
		flex-direction: column;

		@include mq(custom, max, 1280) {
			padding-top: 20rem;
		}

		@include mq(lg) {
			padding-top: 25rem;
		}

		@include mq(md) {
			padding-top: 30rem;
			padding-bottom: 3.5rem;
		}

		@include mq(sm) {
			padding-top: 15.4rem;
			padding-bottom: 3rem;
		}

		@include mq(custom,max, 360) {
			padding-top: 15.4rem;
			padding-bottom: 3rem;
		}
	}

	&__container-img {
		position: absolute;
		right: 40px;
		bottom: 3.2rem;
		display: block;
		width: 87.2rem;
		height: 37.2rem;

		svg {
			width: 100%;
			height: 100%;
		}

		@include mq(sm) {
			right: 0;
			width: 43rem;
			height: 17rem;
		}

		@include mq(custom, max, 400) {
			bottom: 7.2rem;
			right: 16px;
			width: 26rem;
			height: 12rem;
		}
	}

	&__info {
		position: relative;
		z-index: 50;
		margin-top: auto;
	}

	&__company-birth {
		display: block;
		max-width: 21.2rem;
		font-size: 1.6rem;
		line-height: 2rem;

		@include mq(sm) {
			font-size: 1.2rem;
			line-height: 1.8rem;
		}
	}

	&__feautures {
		position: relative;
		display: flex;
		margin-bottom: 8.8rem;

		@include mq(lg) {
			flex-wrap: wrap;
			margin-bottom: 4rem;
		}
	}

	&__feautures-arrow {
		position: relative;
		flex-grow: 1;
		// width: 100%;
		height: 2rem;
		display: flex;
		align-items: flex-end;
		align-self: center;
		margin: 0 1rem;

		&::before {
			position: absolute;
			top: 50%;
			left: 0;
			width: 99.7%;
			height: 2px;
			background-color: var(--color-white);
			transform: translateY(-50%);
			content: "";
		}

		&-long {
			width: 2rem;
			height: 2rem;
			margin-left: auto;
			fill: var(--color-white);
		}

		@include mq(lg) {
			width: 53%;
		}

		@include mq(sm) {
			width: 40%;
			margin: 0;
		}
	}

	&__feautures-item {
		display: inline-block;
		font-weight: 500;
		font-size: 8rem;
		line-height: 8.8rem;
		text-transform: uppercase;
		max-width: 66rem;


		&:nth-of-type(2) {
			text-align: right;
			margin-top: 8.7rem;
			max-width: 49rem;
		}

		@include mq(custom, max, 1280) {
			font-size: 7rem;
			line-height: 7.7rem;
			// max-width: 57rem;
		}

		@include mq(lg) {
			font-size: 6rem;
			line-height: 6.6rem;
			max-width: 50rem;

			&:nth-of-type(2) {
				align-self: flex-end;
				margin-top: 3rem;
				max-width: 40%;
			}
		}

		@include mq(sm) {
			font-size: 3rem;
			line-height: 3.3rem;
			max-width: 28rem;

			&:nth-of-type(2) {
				max-width: 60%;
				margin-left: auto;
			}
		}
	}

	&__text {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&-span {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: 8rem;
			line-height: 8.8rem;
			text-transform: uppercase;

			@include mq(custom, max, 1280) {
				font-size: 7rem;
				line-height: 7.7rem;
			}

			@include mq(lg) {
				font-size: 6rem;
				line-height: 6.6rem;
			}

			@include mq(sm) {
				font-size: 3rem;
				line-height: 3.3rem;
			}
		}

		@include mq(sm) {
			justify-content: stretch;
		}
	}

	&__long-arrow {
		transform: scale(-1, 1);
		fill: var(--color-white);

		&_wrap {
			position: relative;
			display: flex;
			align-items: center;
			height: 20px;
			width: 20.5rem;
			margin-left: 3rem;

			@include mq(sm) {
				margin-left: 1rem;
			}

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				right: 0;
				width: 98%;
				height: 2px;
				background-color: var(--color-white);
				transform: translateY(-50%);
			}
		}
	}

	@include mq(sm) {
		height: 56.4rem;
	}

	@include mq(custom, max, 360) {
		height: 61rem;
	}
}
