.why-us {
	padding: 8rem 0 14rem;

	&__top-block {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		margin-bottom: 4rem;

		&_left {
			grid-column: 8 span;
			max-width: 89%;
		}

		&_right {
			grid-column: 4 span;
		}
	}

	&__section-name {
		display: block;
		color: var(--color-green);
		margin-bottom: 3rem;
	}

	&__p-text {
		display: inline;
		font-weight: 500;
		font-size: 4.5rem;
		line-height: 5.5rem;
		text-transform: uppercase;

		&._block {
			display: block;
		}
	}

	&__list {
		display: inline;
		counter-reset: section;
	}

	&__item {
		position: relative;
		display: inline;
		font-weight: 500;
		font-size: 4.5rem;
		line-height: 5.5rem;
		text-transform: uppercase;
		padding-left: 3.5rem;

		&::before {
			counter-increment: section;
			content: "0" counter(section);
			position: absolute;
			top: 0.5rem;
			left: 0;
			display: inline-block;
			padding: 0 0.3rem;
			border: 1px solid var(--color-dark);
			font-weight: 700;
			font-size: 1.7rem;
			line-height: 1.7rem;
			border-radius: 2rem;
			letter-spacing: 0.06em;
			width: 3.2rem;
			text-align: center;
		}
	}

	&__bottom-block {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;

		&_left {
			grid-column: 4 span;
		}

		&_right {
			grid-column: 8 span;
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			column-gap: 20px;
		}
	}

	&__bottom-block-text {
		grid-column: 4 span;

		span {
			color: var(--color-green);
		}

		&:nth-child(1) {
			padding-top: 9rem;
		}
	}

}
