.why-us {
	padding: 8rem 0 14rem;

	&__top-block {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;
		margin-bottom: 4rem;

		&_left {
			grid-column: 8 span;
			max-width: 89%;

			@include mq(lg) {
				grid-column: 12 span;
			}

			p {
				display: inline;
				font-weight: 500;
				font-size: 4.5rem;
				line-height: 5.5rem;
				text-transform: uppercase;

				&._block {
					display: block;
				}

				@include mq(md) {
					font-size: 4rem;
					line-height: 5rem;
				}

				@include mq(sm) {
					font-size: 2rem;
					line-height: 2.6rem;
				}
			}

			ul {
				display: inline;
				counter-reset: section;

				li {
					position: relative;
					display: inline;
					font-weight: 500;
					font-size: 4.5rem;
					line-height: 5.5rem;
					text-transform: uppercase;
					padding-left: 3.5rem;

					&::before {
						counter-increment: section;
						content: "0" counter(section);
						position: absolute;
						top: 0.5rem;
						left: 0;
						display: inline-block;
						padding: 0 0.3rem;
						border: 1px solid var(--color-dark);
						font-weight: 700;
						font-size: 1.7rem;
						line-height: 1.7rem;
						border-radius: 2rem;
						letter-spacing: 0.06em;
						width: 3.2rem;
						text-align: center;

						@include mq(sm) {
							font-size: 1.2rem;
							line-height: 1.5rem;
							padding: 0 0.2rem;
							width: 2.5rem;
						}
					}

					@include mq(md) {
						font-size: 4rem;
						line-height: 5rem;
					}

					@include mq(sm) {
						font-size: 2rem;
						line-height: 2.6rem;
					}
				}
			}
		}

		&_right {
			grid-column: 4 span;

			@include mq(md) {
				grid-column: 12 span;
			}
		}
	}

	&__section-name {
		display: block;
		color: var(--color-green);
		margin-bottom: 3rem;

		@include mq(sm) {
			margin-bottom: 2rem;
		}
	}

	&__bottom-block {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;

		&_left {
			grid-column: 4 span;

			@include mq(md) {
				grid-column: 12 span;
			}
		}

		&_right {
			grid-column: 8 span;
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			column-gap: 20px;

			@include mq(md) {
				grid-column: 12 span;
			}
		}
	}

	&__text-block {
		p {
			grid-column: 4 span;
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 3rem;
			text-transform: uppercase;

			b,
			strong {
				font-weight: 500;
				color: var(--color-green);
			}

			&:nth-child(1) {
				padding-top: 9rem;
			}

			@include mq(md) {
				font-size: 2rem;
				line-height: 2.6rem;
			}

			@include mq(sm) {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}

			@include mq(sm) {
				grid-column: 12 span;

				&:nth-child(1) {
					padding-top: 0;
					margin-bottom: 3.2rem;
				}
			}
		}
	}


	@include mq(sm) {
		padding-top: 4rem;
		padding-bottom: 7rem;
	}
}


.why-us_team {
	.why-us__top-block_left {
		max-width: 100%;

		p {
			@include mq(sm) {
				display: block;
				margin-bottom: 2rem;
				font-size: 2.5rem;
				line-height: 2.7rem;

				&:nth-last-of-type(1) {
					display: none;
				}
			}
		}

		ul {
			li {
				@include mq(sm) {
					font-size: 2.5rem;
					line-height: 2.7rem;
					display: block;
					margin-bottom: 1.2rem;

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.why-us__text-block {
		p {
			&:nth-of-type(1) {
				margin-bottom: 3rem;
				padding-left: 3rem;
			}

			&:nth-of-type(2) {
				padding-left: 5rem;
			}
		}
	}
}
