section.about-company-info.about-detail-project
	.site-container.about-company-info__container
		.about-company-info__block
			.about-company-info__heading
				h2.visually-hidden
					|	Заголовок о компании для сео
				.about-company-info__heading-text.about-detail-project__heading-text
					p
						|	при создании портала данного формата мы пересмотрели ряд стандартных форм публикаций, а также учли возможность для авторов развивать свой “личный бренд”
		.about-company-info__block.js-about-company-info-block2
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				.about-company-info__text.site-middle-text.about-detail-project__text
					p
						|	<b>материалы take and go</b> отражают энергичность жизни
					p
						|	<b>покупка билетов</b> и многого другого прямо на сайте
					p
						|	<b>симбиоз</b> справочной и рекомендательной информации
