section.about-projects
	.site-container
		span.section-name._color-green
			|	Коротко о проекте
		.about-projects__container
			.about-projects__top
				.about-projects__content
					p
						|	«Афиша Казани» — новый крупный медиапортал о культурно-развлекательной жизни города.

					.about-company-info__long-arrow_wrap.about-projects__arrow
							+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
				.about-projects__logo
					img(src="img/projects-detail/logo.svg", alt="" class="about-projects__logo")
					a(href="/" class="about-projects__link")
						|	afisha-kazan.ru
						+icon("link-icon")(width="16" height="16")
			.about-projects__bottom
				p
					|	<b>симбиоз</b> справочной и рекомендательной информации
				p
					|	<b>удобный сервис поиска</b> мероприятий, мест и маршрутов для отдыха
				p
					|	<b>освещение социальных тем</b> в контексте городской жизни
//- section.about-company-info.about-detail-project._about-short
//- 	.site-container
//- 		span.section-name._color-green
//- 			|	Коротко о проекте
//- 		.about-company-info__container
//- 			.about-company-info__block
//- 				.about-company-info__heading
//- 					h2.visually-hidden
//- 						|	Заголовок о компании для сео
//- 					.about-company-info__heading-text.about-detail-project__heading-text
//- 						p
//- 							|	«Афиша Казани» — новый крупный медиапортал о культурно-развлекательной жизни города.
//- 			.about-company-info__block
//- 				.about-company-info__info-text_left
//- 					.about-company-info__long-arrow_wrap
//- 						+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
//- 				.about-company-info__info-text_right
//- 					.about-company-info__text.site-middle-text.about-detail-project__text
//- 						p
//- 							|	<b>симбиоз</b> справочной и рекомендательной информации
//- 						p
//- 							|	<b>удобный сервис поиска</b> мероприятий, мест и маршрутов для отдыха
//- 						p
//- 							|	<b>освещение социальных тем</b> в контексте городской жизни
