section.next-project.lazy(data-bg="img/projects-detail/img1.webp" data-bg-fallback="img/projects-detail/img1.png")
	.site-container.next-project__container.site-content-grid
		.site-content-grid__block
			span.section-name._color-green
				|	Следующий проект
		.site-content-grid__block
			h2.next-project__heading
				|	квинтэс-
				span
					|	групп
			+button(null, "Перейти", "button_green")
