- let spheresList = ["СОБЫТИЯ", "Места", "с детьми", "активная жизнь", "экогород"]

section.spheres.projects-spheres
	.site-container.spheres__container.site-content-grid
		.site-content-grid__block
			span.section-name._color-white
				|	Основные разделы
		.site-content-grid__block.spheres__content-text.projects-spheres__list
			ul
				for item in spheresList
					li
						p=item
						.div
							p
								|	Кино
							P
								|	Спектакли 
							p
								|	Выставки
							p
								|	Концерты
							p
								|	Ночная жизнь
							p
								|	Мастер-классы
							p
								|	Спецраздел

