section.about-group-hero.mod-career.js-intro-block
	.about-group-hero__layer.lazy.parallax(data-bg="img/career/hero-layer3.webp" data-bg-fallback="img/career/hero-layer3.png" data-depth="0.20")
	.site-container.about-group-hero__container
		+breadcrumbs([['Главная', "/index.html"], ['О группе', '/about-group.html'], ['Карьера']])(class="about-group-hero__breadcrumbs")
		h1.visually-hidden
			|	Заголовок для сео
		.about-group-hero__feautures
			span.about-group-hero__feautures-item.site-hero-text
				| новые люди новые идеи
			.site-long-arrow.about-group-hero__long-arrow
				+icon("arrow-right-button")(class="site-long-arrow__arrow" width="20" height="20")
			span.about-group-hero__feautures-item.site-hero-text
				| новые горизонты

