section.why-us.why-us_team
	.site-container.why-us__container
		.why-us__top-block
			h2.visually-hidden
				|	Текст заголовок сео
			.why-us__top-block_left
				span.section-name.why-us__section-name
					|	Принципы работы у нас
				p.why-us__p-text
					|	Мы понимаем, что для высоких результатов нужны
				ul.why-us__list
					li.why-us__item
						|	комфортная среда,
					li.why-us__item
						|	возможности для личного развития и
					li.why-us__item
						|	сильная команда.
			.why-us__top-block_right
		.why-us__bottom-block
			.why-us__bottom-block_left
			.why-us__bottom-block_right.why-us__text-block
				p
					|	<b>С нами удобно</b> работать в команде, опытные наставники всегда придут на помощь и помогут
				p
					|	<b>обеспечим</b> стабильный рост вашей карьеры, комфортные условия и интересные задачи
