.open-ideas {
	background-color: var(--color-dark);
	color: var(--color-white);
	padding: 3rem 0 7.5rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 15.2rem;

	@include mq(sm) {
		padding: 4rem 0 5rem;
		margin-bottom: 4rem;
	}

	::selection {
		background-color: var(--color-white);
		color: var(--color-dark);
	}

	&__title-wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 18rem;

		@include mq(md) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: stretch;
			margin-bottom: 8.4rem;
		}
	}

	&__button {
		@include mq(md) {
			align-self: end;
		}
	}

	&__title {
		max-width: 94.4rem;

		@include mq(md) {
			font-size: 5rem;
			margin-bottom: 8.3rem;
		}

		@include mq(sm) {
			font-size: 3.9rem;
			margin-bottom: 8.3rem;
		}
	}
}


.vacancies {
	&__grid {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		column-gap: 20px;

		@include mq(md) {
			grid-template-columns: repeat(6, 1fr);
		}

		._block {
			grid-column: 4 span;

			@include mq(md) {
				grid-column: 5 span;

				&:nth-child(2),
				&:nth-child(3) {
					display: none;
				}
			}
		}
	}

	&__head {
		width: 100%;
		padding-bottom: 2rem;

		&-heading {
			font-size: 1.5rem;
			line-height: 2rem;
			color: #ECEDF0;
			opacity: 0.6;
		}

		@include mq(md) {
			display: none;
		}
	}

	&__item {
		position: relative;
		border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
		transition: border-color var(--main-transition);

		._top-line {
			position: absolute;
			top: -1px;
			left: 0;
			height: 1px;
			background-color: var(--color-green);
			width: 100%;
			opacity: 0;
			transition: opacity var(--main-transition);
		}

		&:nth-child(1) {
			border-top: 1px solid rgba($color: #fff, $alpha: 0.2);
		}

		&:hover {
			border-color: var(--color-green);

			.our-team-accordion__head-name {
				color: var(--color-green);
			}

			._top-line {
				opacity: 1;
			}
		}

		&-head {
			position: relative;
			width: 100%;
			text-align: left;
			padding: 4rem 0;
			cursor: pointer;

			p {
				font-size: 1.6rem;
				line-height: 2.5rem;
				color: var(--color-white);
				max-width: 50rem;
			}

			._plus {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				display: block;
				width: 1.7rem;
				height: 1.7rem;
				transition: transform 200ms;

				span {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 2px;
					background-color: var(--color-white);
					transform: translate(-50%, -50%);
					transition: background-color 200ms;

					&:nth-child(2) {
						transform: translate(-50%, -50%) rotate(90deg);
					}
				}
			}

			&.mod-open {
				._plus {
					transform: translateY(-50%) rotate(45deg);

					span {
						background-color: var(--color-green);
					}
				}
			}

			@include mq(sm) {
				padding: 2rem 0;
			}
		}

		&-vac-name {
			display: block;
			font-weight: 500;
			font-size: 3.5rem;
			line-height: 4.5rem;
			text-transform: uppercase;
			color: var(--color-white);

			@include mq(sm) {
				font-size: 2rem;
				line-height: 2.6rem;
			}
		}

		&-vac-exp {
			display: block;
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2.5rem;
			color: var(--color-white);
		}

		&-body {
			padding-bottom: 4rem;

			@include mq(sm) {
				padding-bottom: 3rem;
			}

			._body-block {
				&:nth-child(1) {
					grid-column: 4 span;
				}

				&:nth-child(2) {
					grid-column: 8 span;
				}

				._text-block {
					display: none;

					p {
						font-size: 2rem;
						line-height: 2.5rem;
						text-transform: none;
						color: var(--color-white);

						@include mq(sm) {
							font-size: 1.2rem;
							line-height: 1.7rem;
						}
					}

					@include mq(md) {
						display: block;
						margin-bottom: 3rem;
					}
				}

				p {
					margin-bottom: 2rem;
					font-size: 1.4rem;
					line-height: 2rem;
					text-transform: uppercase;
					color: rgba($color: #fff, $alpha: 0.6);

					@include mq(sm) {
						font-size: 1rem;
						line-height: 2rem;
					}

				}

				ul {
					margin: 2rem 0 5rem;

					@include mq(sm) {
						margin: 3rem 0;
					}

					li {
						position: relative;
						padding-left: 3rem;
						font-size: 2rem;
						line-height: 2.5rem;
						margin-bottom: 1.5rem;

						@include mq(sm) {
							font-size: 1.2rem;
							line-height: 1.7rem;
						}

						&:last-child {
							margin-bottom: 0;
						}

						&::before {
							position: absolute;
							top: 50%;
							left: 1.3rem;
							width: 0.4rem;
							height: 0.4rem;
							background-color: var(--color-white);
							border-radius: 50%;
							transform: translateY(50%);
							content: "";

							@include mq(sm) {
								top: 1rem;
								transform: none;
							}
						}
					}
				}
			}
		}
	}

	&__links {
		margin-top: 7.3rem;

		@include mq(sm) {
			margin-top: 4rem;
		}


		._links-block {
			&:nth-child(1) {
				grid-column: 4 span;

				@include mq(sm) {
					grid-column: 12 span;
				}
			}

			&:nth-child(2) {
				grid-column: 8 span;
				display: flex;
				align-items: center;
				justify-content: space-between;

				@include mq(sm) {
					grid-column: 12 span;
					flex-direction: column;
					align-items: flex-start;
					justify-self: stretch;

					.our-team__text {
						margin-bottom: 2rem;

						p {
							font-size: 1.2rem;
							line-height: 1.5rem;
						}
					}
				}

				.button {
					margin-left: auto;
				}
			}
		}
	}
}
