*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	line-height: 1.3;

	@include mq(custom, min, 2100) {
		font-size: 14px;
	}

	@include mq(custom, max, 1536) {
		font-size: 8px;
	}

	@include mq(custom, max, 1366) {
		font-size: 7px;
	}
}

body {
	color: var(--color-dark);
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 2rem;
	font-family: var(--main-ff);
	background-color: var(--color-white);

	::selection {
		background-color: var(--color-dark);
		color: var(--color-white);
	}

	@include mq(custom, max, 1536) {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

.list-rest {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 40px;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
}

.site-content-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap: 20px;
}

.site-content-grid__block {
	&:nth-of-type(1) {
		grid-column: 4 span;
	}

	&:nth-of-type(2) {
		grid-column: 8 span;
	}
}
