// include styles
@import "include/variables";
@import "include/include";
@import "setttings";

// blocks
@import "blocks/common-blocks";
@import "pages/index/main";
@import "pages/about-group/main";
@import "pages/team/main";
@import "pages/career/main";
@import "pages/projects/main";
@import "pages/contacts/main";
@import "pages/error-page/main";
