- let team_arr = [{name: "ИВАН КУЗНЕЦОВ", position: "генеральный директор"}, {name: "СЕРГЕЙ БЕЛОВ", position: "заместитель генерального директора"}, {name: "ИГОРЬ БОРИСОВ", position: "HR-директор"}, {name: "ДИМИТРИЙ САВИНОВ", position: "финансовый директор"}, {name: "ЛЮБОВЬ ЗУБАРЕВА", position: "руководитель юридической службы"}, {name: "АЛИНА СИБГАТОВА", position: "главный бухгалтер"}, {name: "ИЛЬнур фатхутдинов", position: "руководитель отдела планирования"}, {name: "эльвина камалова", position: "бизнес-ассистент"}]

section.our-team
	.site-container
		span.section-name._color-white
			| Наша команда

		.our-team__container.js-show-img-container
			ul.our-team__list.our-team-accordion
				for item, index in team_arr
					li.our-team__item.our-team-accordion__item.site-content-grid
						.site-content-grid__block
							img(src="img/team/team0.jpg" alt="" class="our-team__img js-imgs")
						.site-content-grid__block
							button.button-rest.our-team-accordion__head.js-drop-menu-btn.js-btn-show-img(data-show=index)
								span._top-line.js-direction-lines
								span._bottom-line.js-direction-lines
								._grid-wrapper
									._block
										span.our-team-accordion__head-name=item.name
									._block
										span.our-team-accordion__head-position=item.position
									._block
										span.our-team-accordion__burger
											span
											span
							.drop-menu-container.js-drop-menu-container
								.our-team-accordion__body.drop-menu.js-drop-menu
									.our-team__img-mob-wrapper
										span.our-team-accordion__head-position.mod-mobile=item.position
										img(src="img/team/team0.jpg" alt="" class="our-team__img mod-mobile")
									.our-team__img-mob-wrapper
										h3
											|	опыт и образование
										p
											| Окончил в 1997 году Казанский государственный финасово-экономический институт по специальности “Экономист: бухгалтерский учет и аудит”.
										p
											| В 2002 году получил должность финансового директора Казанского текстильного торгового дома.
										p
											| С 2005 по 2020 год возглавлял департамент экономики в региональном медиахолдинге “Барс Медиа Групп”.
										p
											| С 2020 года назначен директором компании “Сетка Плюс”, компании по производству металлических сеток и композитной арматуры. С 2020 года является заместителем генерального директора “БГ АРИОЛ”.

			.our-team__links
				+button(null, "наши вакансии", "button_transparent")



