section.about-company-info._pb70(id="NextBlock")
	.site-container.about-company-info__container
		span.section-name._color-green(style="margin-bottom: 2rem")
			|	Почему нас выбирают
		.about-company-info__block
			.about-company-info__heading
				h2.visually-hidden
					|	Заголовок о компании для сео
				.about-company-info__content
					p
						b
							|  Мы являемся,
						| 	 сторонниками долговременного и доверительного сотрудничества, гарантируя внедрение наиболее эффективных методов работы, обеспечивая прозрачность финансовых потоков
					p
						b
							|	Многолетний опыт и практические знания
						|	позволяют нашей команде внедрять новые эффективные решения с учетом актуальной ситуации в стране и мире

		.about-company-info__block.js-about-company-info-block
			.about-company-info__info-text_left
				.about-company-info__long-arrow_wrap
					+icon("arrow-right-button")(class="about-company-info__long-arrow" width="20" height="20")
			.about-company-info__info-text_right
				.about-company-info__text.site-middle-text
					p
						b
							|	Мы создаем условия
						|	для оптимальной и успешной реализации финансовых возможностей, взяв на себя все трудовые и энергетические затраты
