.head-tells {
	background-color: var(--color-dark);
	color: var(--color-white);
	margin-bottom: 18rem;

	::selection {
		background-color: var(--color-white);
		color: var(--color-dark);
	}

	.site-content-grid__block {
		&:nth-of-type(1) {
			grid-column: 8 span;
		}

		&:nth-of-type(2) {
			grid-column: 4 span;
		}
	}

	&__left-block {
		padding: 6rem 0 6rem 40px;
	}

	.section-name {
		margin-bottom: 5rem;
	}

	&__authors {
		margin-bottom: 3rem;
	}

	&__content-text {
		margin-bottom: 6rem;
		max-width: 106rem;

		@include mq(custom, max, 1680) {
			max-width: 93rem;
		}

		p {
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 3.5rem;
			text-transform: uppercase;

			@include mq(md) {
				font-size: 2rem;
				line-height: 2.6rem;
			}

			@include mq(sm) {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}

			b, strong {
				color: var(--color-green);
			}
		}
	}

	&__content-grid {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;

		&-block {
			grid-column: 4 span;
		}
	}

	&__author {
		display: block;
		font-weight: 500;
		font-size: 2rem;
		line-height: 3rem;
		margin-bottom: 1rem;
	}

	&__position {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		color: rgba(236, 237, 240, 0.6);
		max-width: 39.7rem;
	}

	&__img {
		width: 56rem;
		height: 65rem;
		margin-left: auto;
		display: block;
	}

	&__arrow-long {
		margin-top: 0.5rem;
	}
}
