.head-tells {
	background-color: var(--color-dark);
	color: var(--color-white);
	margin-bottom: 11rem;

	@include mq(sm) {
		margin-bottom: 9rem;
	}

	::selection {
		background-color: var(--color-white);
		color: var(--color-dark);
	}

	.site-content-grid__block {
		&:nth-of-type(1) {
			grid-column: 8 span;
			overflow: hidden;

			@include mq(lg) {
				grid-column: 12 span;
			}
		}

		&:nth-of-type(2) {
			grid-column: 4 span;
		}
	}

	&__left-block {
		padding: 6rem 0 6rem 40px;

		@include mq(lg) {
			padding: 6rem 40px 6rem 40px;
		}

		@include mq(sm) {
			padding: 4rem 20px 7rem 20px;
		}
	}

	&__right-block {
		overflow: hidden;

		@include mq(lg) {
			display: none;
		}
	}

	.section-name {
		margin-bottom: 5rem;

		@include mq(sm) {
			margin-bottom: 2rem;
		}
	}

	&__authors {
		margin-bottom: 3rem;

		@include mq(sm) {
			margin-bottom: 2.5rem;
		}
	}

	&__content-text {
		margin-bottom: 6rem;
		max-width: 106rem;

		@include mq(custom, max, 1680) {
			max-width: 93rem;
		}

		p {
			font-weight: 500;
			font-size: 2.5rem;
			line-height: 3.5rem;
			text-transform: uppercase;

			@include mq(md) {
				font-size: 2rem;
				line-height: 2.6rem;
			}

			@include mq(sm) {
				font-size: 1.5rem;
				line-height: 1.8rem;
			}

			b, strong {
				color: var(--color-green);
			}
		}

		@include mq(lg) {
			max-width: 100%;
		}

		@include mq(sm) {
			margin-bottom: 4rem;
		}
	}

	&__content-grid {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		column-gap: 20px;

		@include mq(sm) {
			grid-template-columns: repeat(6, 1fr);
		}

		&-block {
			grid-column: 4 span;

			@include mq(lg) {
				&:nth-of-type(1) {
					grid-column: 5 span;
				}

				&:nth-of-type(2) {
					grid-column: 3 span;
				}
			}

			@include mq(sm) {
				&:nth-of-type(1) {
					grid-column: 2 span;
				}

				&:nth-of-type(2) {
					grid-column: 4 span;
				}
			}
		}
	}

	&__author {
		display: block;
		font-weight: 500;
		font-size: 2rem;
		line-height: 3rem;
		margin-bottom: 1rem;

		@include mq(sm) {
			font-size: 1.5rem;
			line-height: 3rem;
			margin-bottom: 0.5rem;
		}
	}

	&__position {
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 2rem;
		color: rgba(236, 237, 240, 0.6);
		max-width: 39.7rem;

		@include mq(sm) {
			font-size: 1.1rem;
			line-height: 1.4rem;
			max-width: 21.8rem;
		}
	}

	&__imgs-slider-img-wrapper {
		position: relative;
		width: 56rem;
		height: 65rem;
		margin-left: auto;
		display: block;

		._layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: var(--color-dark);
		}
	}

	&__img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__arrow-long {
		margin-top: 0.5rem;
	}

	.slider-nav {
		@include mq(sm) {
			width: 100%;
			display: none;
		}
	}

	&__nav-btn {
		&._disabled {
			pointer-events: none;
		}
	}
}
