.about-group-hero {
	overflow: hidden;
	position: relative;
	z-index: 2;
	color: var(--color-white);
	height: 73.2rem;

	@include mq(xxs) {
		height: 64.2rem;
	}

	&__layer {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		height: 99.9rem;
		width: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		@include mq(sm) {
			height: 100%;
			background-position: 100% 100%;
		}
	}

	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		padding-top: 21.5rem;

		@include mq(md) {
			padding-top: 18rem;
		}

		@include mq(sm) {
			padding-top: 13rem;
		}

		@include mq(custom, max, 360) {
			padding-top: 13rem;
		}
	}

	&__feautures {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 26.6rem;

		&-item {
			display: block;
			max-width: 54rem;

			&:nth-child(1) {
				align-self: flex-start;
			}

			&:last-child {
				text-align: right;
				align-self: flex-end;
			}

			@include mq(sm) {
				font-size: 4rem;
				line-height: 4.6rem;

				&:nth-child(1) {
					align-self: stretch;
					margin-bottom: 4rem;
				}

				&:last-child {
					text-align: left;
					align-self: stretch;
				}
			}

			@include mq(xxs) {
				font-size: 3rem;
				line-height: 3.6rem;
			}
		}

		@include mq(sm) {
			flex-direction: column;
			justify-content: stretch;
		}
	}

	&__long-arrow {
		flex-grow: 1;
		width: auto;
		position: relative;
		top: 3.2rem;
		left: -3rem;

		&::before {
			@include mq(custom, max, 1536) {
				width: 98.9%;
			}

			@include mq(lg) {
				width: 97.3%;
			}
		}

		@include mq(md) {
			display: none;
		}
	}

	&__links {
		position: relative;
		margin-top: auto;
		display: flex;
		align-items: center;
		padding: 3rem 40px;
		margin: 0 -40px;
		margin-top: auto;
		background: rgba(255, 255, 255, 0.05);
		backdrop-filter: blur(60px);

		@include mq(sm) {
			margin-left: -20px;
			margin-right: -20px;
			padding: 2rem 20px;
		}

		@include mq(custom, max, 360) {
			margin-left: -16px;
			margin-right: -16px;
			padding: 2rem 16px;
		}
	}

	&__nav-line {
		position: absolute;
		top: 0;
		// width: 6rem;
		height: 0.2rem;
		background-color: var(--color-green);
		transition: left var(--main-transition);
	}

	&__links-item {
		position: relative;
		margin-right: 4rem;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			right: -4rem;
			width: 4rem;
			height: 100%;
			transform: translateY(-50%);
		}

		&._is-active {
			.about-group-hero__link {
				color: var(--color-white);
			}
		}

		&:last-child {
			margin-right: 0;

			&::before {
				display: none;
			}
		}

		@include mq(xxs) {
			margin-right: 2.5rem;

			&::before {
				right: -2.5rem;
				width: 2.5rem;
			}
		}
	}

	&__link {
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 2rem;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 0.6);
		transition: color var(--main-transition);

		&:hover {
			color: var(--color-white);
		}

		@include mq(xxs) {
			font-size: 1.4rem;
			line-height: 1.6rem;
		}
	}

	&.mod-team {
		.about-group-hero__feautures {
			height: 19.7rem;
		}

		.about-group-hero__long-arrow {
			position: relative;
			top: auto;
			left: auto;
		}
	}

	&.mod-career {
		.about-group-hero__feautures {
			height: 20.2rem;
		}

		.about-group-hero__long-arrow {
			position: relative;
			top: auto;
			left: auto;
			right: -5rem;
			width: 100%;

			@include mq(custom, max, 1680) {
				width: 80%;
    			right: -6rem;
			}

			@include mq(lg) {
				width: 60%;
			}
		}
	}
}
