.mission {
	padding: 8rem 0 14rem 0;

	@include mq(sm) {
		padding-top: 4rem;
		padding-bottom: 7rem;
	}

	.section-name {
		margin-bottom: 3rem;

		@include mq(sm) {
			margin-bottom: 2rem;
		}
	}

	&__conten-text {
		max-width: 160rem;

		._top {
			margin-bottom: 4rem;
		}

		p {
			display: inline;
			font-weight: 500;
			font-size: 4.5rem;
			line-height: 5.5rem;
			text-transform: uppercase;

			@include mq(md) {
				font-size: 4rem;
				line-height: 5rem;
			}

			@include mq(sm) {
				font-size: 2rem;
				line-height: 2.6rem;
			}
		}

		ul {
			display: inline;
			counter-reset: section;

			li {
				position: relative;
				display: inline;
				font-weight: 500;
				font-size: 4.5rem;
				line-height: 5.5rem;
				text-transform: uppercase;
				padding-left: 4.5rem;


				&::before {
					counter-increment: section;
					content: "0"counter(section);
					position: absolute;
					top: 1rem;
					left: 1rem;
					display: inline-block;
					padding: 0 0.3rem;
					border: 1px solid var(--color-dark);
					font-weight: 700;
					font-size: 1.7rem;
					line-height: 1.7rem;
					border-radius: 2rem;
					letter-spacing: 0.06em;
					width: 3.2rem;
					text-align: center;
					margin-right: 1rem;

					@include mq(sm) {
						font-size: 1.2rem;
						line-height: 1.5rem;
						padding: 0 0.2rem;
						width: 2.5rem;
						top: 0.3rem;
						left: 0.5rem;
					}
				}

				@include mq(md) {
					font-size: 4rem;
					line-height: 5rem;
				}

				@include mq(sm) {
					font-size: 2rem;
					line-height: 2.6rem;
					padding-left: 4rem;
				}
			}
		}
	}
}
