.spheres {
	padding: 6.6rem 0 8.8rem 0;
	background-color: var(--color-dark);
	color: var(--color-white);

	@include mq(sm) {
		padding: 4rem 0 7rem 0;
	}

	::selection {
		background-color: var(--color-white);
		color: var(--color-dark);
	}

	.section-name {
		@include mq(md) {
			margin-bottom: 3.2rem;
		}

		@include mq(sm) {
			margin-bottom: 2rem;
		}
	}

	&__content-text {
		ul {
			counter-reset: section;

			li {
				position: relative;
				display: flex;
				align-items: flex-start;
				padding: 5.7rem 0;
				font-size: 4.5rem;
				line-height: 4.5rem;
				text-transform: uppercase;
				border-bottom: 1px solid var(--color-white);

				&:first-child {
					border-top: 1px solid var(--color-white);
				}

				&::before {
					counter-increment: section;
					content: "0"counter(section);
					display: inline-block;
					padding: 0 0.3rem;
					border: 1px solid var(--color-white);
					font-weight: 700;
					font-size: 1.7rem;
					line-height: 1.7rem;
					border-radius: 2rem;
					letter-spacing: 0.06em;
					width: 3.2rem;
					text-align: center;
					opacity: 0.6;
					margin-right: 1rem;

					@include mq(sm) {
						font-size: 1.2rem;
						line-height: 1.5rem;
						padding: 0 0.2rem;
						width: 2.5rem;
					}
				}

				@include mq(md) {
					padding: 4.8rem 0;
				}

				@include mq(sm) {
					font-size: 3.5rem;
					line-height: 1;
					padding: 4rem 0;
				}

				@include mq(xxs) {
					font-size: 2.5rem;
					padding: 3rem 0;
				}
			}
		}
	}


	&__arrow {
		margin-top: 10rem;

		@include mq(sm) {
			margin-top: 6rem;
			grid-template-columns: repeat(6, 1fr)
		}
	}

	&__arrow-long {
		grid-column: 8 span;
		position: relative;
		width: 100%;
		height: 2rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;
			width: 99.8%;
			height: 2px;
			transform: translateY(-50%);
			background-color: var(--color-white);
		}

		@include mq(md) {
			grid-column: 2 span;
		}
	}

	&__arrow-arrow {
		height: 2rem;
		fill: var(--color-white);
	}

	&__arrow-content-text {
		max-width: 52rem;
		grid-column: 4 span;

		@include mq(md) {
			grid-column: 4 span;
		}
	}

	@include mq(md) {
		.site-content-grid__block {
			&:nth-of-type(1) {
				grid-column: 12 span;
			}

			&:nth-of-type(2) {
				grid-column: 12 span;
			}
		}
	}
}
