.our-team {
	padding: 8rem 0 7.5rem 0;
	background-color: var(--color-dark);
	color: var(--color-white);
	margin-bottom: 18rem;

	@include mq(sm) {
		margin-bottom: 10rem;
	}

	@include mq(sm) {
		padding: 4rem 0 7rem 0;
	}

	::selection {
		background-color: var(--color-white);
		color: var(--color-dark);
	}

	.section-name {
		margin-bottom: 8rem;

		@include mq(md) {
			margin-bottom: 4rem;
		}
	}

	.site-content-grid__block {
		position: relative;

		@include mq(lg) {
			grid-column: 12 span;
		}
	}

	&__container {}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 40rem;
		height: 60.5rem;
		display: block;
		object-fit: cover;
		transition: top 200ms, opacity 200ms, filter 200ms;
		filter: grayscale(100%);


		&.mod-show {
			z-index: 125;
		}

		&:hover {
			filter: none;
		}

		&:not(.mod-show) {
			opacity: 0;
		}

		@include mq(lg) {
			display: none;

			&.mod-mobile {
				display: block;
				opacity: 1;
				position: static;
				top: auto;
				left: auto;
				margin-bottom: 3rem;
				flex-shrink: 0;
				width: 33.5rem;
				height: 33.3rem;

				@include mq(sm) {
					margin-bottom: 0;
				}

				@include mq(custom, max, 370) {
					width: 100%;
				}
			}
		}
	}

	&__img-mob-wrapper {
		@include mq(lg) {
			&:nth-child(1) {
				flex-shrink: 0;
				margin-right: 4rem;
			}
		}

		@include mq(sm) {
			&:nth-child(1) {
				flex-shrink: 0;
				margin-right: 0;
				margin-bottom: 3rem;
			}
		}
	}

	&__list {
		margin-bottom: 8.5rem;

		@include mq(sm) {
			margin-bottom: 4rem;
		}
	}

	&__links {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include mq(sm) {
			flex-direction: column;
			align-items: flex-start;
			justify-content: stretch;

			.our-team__text {
				margin-bottom: 2rem;
			}
		}

		.button {
			margin-left: auto;
		}
	}

	&__text {
		p {
			max-width: 38.5rem;
			font-weight: 500;
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}


.our-team-accordion {
	&__item {
		position: relative;
		transition: border-color var(--main-transition);
		overflow: hidden;

		.site-content-grid__block {
			overflow: hidden;
		}

		&:nth-child(1) {

			.our-team-accordion__head {
				border-top: 1px solid rgba(255,255,255,.2);
			}
		}

		._bottom-line {
			position: absolute;
			bottom: 0;
			left: 0;
			height: 1px;
			background-color: rgba($color: #fff, $alpha: 0.2);
			width: 100%;
			transition: background-color var(--main-transition);
		}

		._top-line {
			position: absolute;
			top: 0;
			left: 0;
			height: 1px;
			background-color: var(--color-green);
			width: 100%;
			opacity: 0;
			transition: opacity var(--main-transition);
		}
	}

	&__head {
		width: 100%;
		cursor: pointer;
		padding: 5rem 0;
		overflow: hidden;
		padding-top: 5rem;
		// border-top: 1px solid rgba($color: #fff, $alpha: 0.2);

		@include mq(sm) {
			padding: 0;
		}

		._grid-wrapper {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			align-items: center;
			column-gap: 20px;

			@include mq(sm) {
				grid-template-columns: repeat(6, 1fr);
				padding: 2rem 0;
			}
		}

		&.mod-open {
			.our-team-accordion__burger {
				transform: rotate(45deg);

				span {
					background-color: var(--color-green);
				}
			}
		}

		._block {
			justify-self: start;

			&:nth-child(1) {
				grid-column: 4 span;

				@include mq(sm) {
					grid-column: 5 span;
				}
			}

			&:nth-child(2) {
				grid-column: 3 span;

				@include mq(sm) {
					display: none;
				}
			}

			&:nth-child(3) {
				grid-column: 1 span;
				justify-self: end;
			}
		}

		&:hover {
			border-color: var(--color-green);

			.our-team-accordion__head-name {
				color: var(--color-green);
			}

			._top-line {
				opacity: 1;
			}

			._bottom-line {
				background-color: var(--color-green)
			}
		}

		&-name {
			font-weight: 500;
			font-size: 3.5rem;
			line-height: 4.5rem;
			text-transform: uppercase;
			color: var(--color-white);
			transition: color var(--main-transition);

			@include mq(sm) {
				font-size: 2rem;
				line-height: 4.5rem;
			}
		}

		&-position {
			display: inline-block;
			padding: 0 1rem;
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 2rem;
			text-transform: uppercase;
			border-radius: 4rem;
			border: 1px solid var(--color-white);
			color: var(--color-white);

			&.mod-mobile {
				display: none;
			}

			@include mq(sm) {
				&.mod-mobile {
					display: inline-block;
					margin-bottom: 3rem;
					font-size: 1.2rem;
					line-height: 2rem;
				}
			}
		}
	}

	&__burger {
		position: relative;
		display: block;
		width: 2.4rem;
		height: 2.4rem;
		transition: transform var(--main-transition);

		span {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: block;
			width: 1.6rem;
			height: 2px;
			background-color: var(--color-white);
			transition: background-color var(--main-transition);

			&:nth-child(2) {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
	}

	&__body {
		padding-bottom: 5.2rem;

		@include mq(custom, min, 1920) {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			column-gap: 20px;

			.our-team__img-mob-wrapper {
				&:nth-child(1) {
					display: none;
				}

				&:nth-child(2) {
					grid-column: 4 span;
				}
			}
		}

		@include mq(lg) {
			display: flex;
		}

		@include mq(sm) {
			flex-direction: column;
			padding-bottom: 3rem;
		}

		h3,
		h2,
		h4,
		h5,
		h6 {
			font-weight: 500;
			font-size: 1.4rem;
			line-height: 4.5rem;
			color: rgba($color: #fff, $alpha: 0.6);
			text-transform: uppercase;
			margin-bottom: 3.5rem;

			@include mq(sm) {
				line-height: 1.8rem;
			}
		}

		p {
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.5rem;
			margin-bottom: 1rem;

			@include mq(sm) {
				font-size: 1.2rem;
				line-height: 1.7rem;
				max-width: 100%;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}
